[2022-04-26 12:22] amartinezfayo commented on #2342
Since experimental Windows support is now supported in the main branch (for both the agent and the server), I'm closing this issue.
If you see an issue related with Windows support, or want a feature supported in Windows, don't hesitate to open an issue.

[2022-04-26 12:22] #2342 closed

[2022-04-26 14:06] #2833 closed

[2022-04-26 16:29] azdagron commented on #2978
What is your ca_ttl configured to? Are you using an upstream authority?

[2022-04-26 22:29] faisal-memon commented on #2958
@pbhalera were you able to get this figured out?

[2022-04-27 13:45] GerardoGR commented on #2665
Friendly reminder: Would the above repo work for the spiffe org?

[2022-04-27 17:18] StupidScience opened #3001 "Envoy SDS custom validator issue"
Hello.

Some context for beginning. We use PKI based federation with root CA and intermediate ones for trust domains. Currently we're upgrading our spire stack from 1.0.1 to 1.1.4 and faced situation when suddenly our federation implementation are not working properly for cross domain communications due to change introduced in #2435 and available from version 1.0.2. It's kinda breaking change for

[2022-04-27 18:54] azdagron commented on #3001
Hey @StupidScience, can you elaborate on exactly what has broken in your federation setup and maybe share how you configure the validation_context in Envoy?

[2022-04-27 19:26] evan2645 commented on #3001
More information would be great.

There are a lot of downsides to this approach, but it's probably not the place to go into that.

If you have access to a test environment, you may be able to work around this problem by manually setting federated bundles for the various trust domain names, setting the shared bundle for each one. I'm not quite sure how JWT-SVID will behave in this scenario, certain

[2022-04-27 20:22] StupidScience commented on #3001
So, I will try to explain better.

Our validation context on 1.0.1 looks like these:
[code]

And after spire agent upgrade we should have something like (can't check for sure atm):
[code]

The problem is that envoy's SPIFFE Certificate Validator won't check if certificate is valid or not since Envoy selects the trust bundle according to the presented SAN before validate the certificate because SVI

[2022-04-27 21:47] #2983 closed

[2022-04-27 21:50] azdagron commented on #3001
I see. One option would be to set the federation bundle for each trust domain on each SPIRE server cluster and then update registration entries to include the federated trust domains in the FederatesWith list. If you move to an official federation mechanism.

[2022-04-27 21:52] azdagron commented on #3001
I'm also not super opposed to providing a flag to return the old validation context configuration but if there are other viable workarounds I think it's worth exploring those.

[2022-04-27 22:19] #2933 closed

[2022-04-27 22:51] #2824 closed

[2022-04-28 00:13] evan2645 commented on #3001
Yes, I understand .. I don't think you are alone in this configuration :)

[2022-04-28 02:01] rturner3 opened #3004 "Optimize running integration tests on CI"
The PR and release CI pipelines run the integration test suite to ensure regressions are not introduced to core features of SPIRE. This step of the CI pipelines has historically been time-consuming (currently taking close to 15 minutes per run of the suite), even with parallelization. This has a negative impact to contributors who are attempting to verify changes, as well as to maintainers, who ha

[2022-04-28 02:19] #2657 closed

[2022-04-28 06:45] richardstone commented on #2978
It turned out that the issue came from the thing that I'm using 2 spire-server replicas with their own sqlite datastore. I have set up a single Database for the spire-server replicas, and hasn't seen the issue since.

[2022-04-28 06:45] #2978 closed

[2022-04-28 19:36] azdagron commented on #3001
Hey @StupidScience, the maintainers got together and came to a consensus that the proposed change you describe would be welcome and something we'd be willing to backport to previous releases since it breaks the upgrade path for deployments like yours.

I've your still willing to put up a PR, we'd be happy to help get it merged.

[2022-04-29 11:23] StupidScience commented on #3001
@azdagron great news, thank you. I've sent corresponding PR https://github.com/spiffe/spire/pull/3009

[2022-04-29 16:34] StupidScience opened #3010 "Disabling custom validation per request/envoy-instance"
So continuing [this discussion](https://github.com/spiffe/spire/pull/3009#issuecomment-1113416461) in PR. Would be great to have an option to enable Envoy's SPIFFE custom validator based on request/envoy-instance.

I see the following options here:
1. Add one more option to config  enable this per-instance behaviour and then look at envoy's node metadata for `enable_spiffe_cert_validation` key and

[2022-04-29 17:05] azdagron commented on #3010
I think my preference would be to enable the spiffe validator by default, since it is the preferred security posture.

Out of those options, i think we should go with the simplest approach and look for a fixed key in the node metadata. If this becomes problematic, we can always add a configurable later to allow for a custom key. I think we should go for an opt-out style of name that matches the co

[2022-04-29 17:14] azdagron opened #3011 "Explore additional security measures for the Windows PeerTracker"
As discussed in #2999, we want to employ as many security checks and redundancy as possible in our peertracker layer. The Windows peer tracker could probably be improved in this area.

This issue tracks the exploration of additional checks.

[2022-04-29 17:55] #2977 closed

[2022-04-29 18:49] #2935 closed

[2022-04-29 18:50] evan2645 commented on #1843
I have been wondering if it makes sense to support SVIDStore (or something like it) on the server too.

[2022-04-30 18:19] hellerda commented on #1843
I think the current approach of storing via the agent is fine.  It seems to make sense to let the server be the issuer, and the agent the provisioner.

But the agent deployment strategy is clearly different with SVID Store.  In the conventional case, the goal is place the agent close to the workload, so the workload attestor can function.  With SVID store this constraint is relieved, and agent pro

[2022-05-02 00:19] deanyxu commented on #2895
Not for now. Thanks for the reply.

[2022-05-02 12:04] azdagron commented on #2895
Thanks for letting us know. Closing this issue for now.

[2022-05-02 12:04] #2895 closed

[2022-05-02 15:54] amoore877 commented on #1843
Agreed, though for me this also opens up revisiting the idea of "why not specifically have a new type of Agent for SVIDStore". In my own potential usages, I don't think I will ever have an agent **both** acting "traditionally" and executing the SVIDStore feature, for the separation-of-security-responsibilities aspects previously mentioned and to de-couple these disparate behaviors.

To me this fee

[2022-05-03 00:34] #3010 closed

[2022-05-03 08:34] StupidScience commented on #3010
@azdagron I'm thinking that would be good to have possibility to opt-in per instance as well if it is disabled on agent and you want to enable it for one envoy instance. So when `disable_spiffe_cert_validation` set to `true` on agent and to `false` in envoy node metadata. WDYT? Does it make sense?

[2022-05-03 09:43] StupidScience commented on #3010
I've sent PR #3020 to address this so please take a look if it make sense.

[2022-05-03 16:05] azdagron opened #3021 "Release SPIRE 1.3.0"
Candidate commit: [48016c9](https://github.com/spiffe/spire/commit/48016c92aaffbef43553d5a6a25f05e88d8cc568)
Release date: May 12th, 2022.

[2022-05-05 09:36] szvincze opened #3032 "spire-agent fails to start because trust bundle is not available"
* **Version**: 1.1.0, 1.2.0, 1.2.1, 1.2.2, 1.2.3
* **Platform**: Linux 5.15.0-27-generic#28-Ubuntu SMP x86_64
* **Subsystem**: agent

Scenario:
The spire server and agents are launched at once.

After spire-server is started properly and its TCP server is established, spire-agent's initContainer detects the server port is open thus it launches the normal agent container, which fails with the follo

[2022-05-05 13:36] hellerda commented on #1843
I agree that due to the different deployment strategies, conventional vs. SVIDstore, it's unlikely an agent would serve both purposes well.  That said, I can see some cases where it would be useful, for smaller deployments, or when an agent is serving conventional but there may be a few workloads that are preferred (for whatever reason) to get their SVID via the cloud-provider store.  Maybe the wo

[2022-05-05 17:28] amartinezfayo commented on #3032
Just want to confirm that you are referring to the fact that the init container waits for the bundle to be present in the volume before starting the agent.

In #2978 it seems that the problem was because there were multiple SPIRE servers with their own datastore. Do you have one or more servers? In case of multiple servers, how the datastore is configured?

[2022-05-05 19:05] azdagron opened #3037 "Removed support for deprecated configmaps leader election resource lock type"
#3030 deprecated the configmaps resource lock type and  introduced a configurable to allow operators to migrate away. This issue tracks the remove of support for configmaps completely in SPIRE 1.4.0.

To accomplish this, we should just be able to upgrade our k8s.io/client-go dependency and change the current warning to an error. If we don't detect the bad type and fail early, then the client-go li

[2022-05-05 21:58] amartinezfayo commented on #1843
I think that the strategy of having one agent per cloud provider region makes sense. It seems reasonable to me to have that kind of separation / organization. As a side note, the current implementation restricts pushing to a single region for the same plugin name (i.e. the `aws_secretsmanager` plugin has configured the region at the plugin level, and you can't have multiple `SVIDStore "aws_secrets

[2022-05-05 23:34] amartinezfayo commented on #1843
Thank you @amoore877 for providing your perspective. One of the alternatives that we considered at the beginning of the exploration of serverless support in SPIRE was the option to have a helper program like that.
Our assessment of that approach by that time was that there would be a re-implementation of the agent related with functionality like attestation with the server, and the logic around th

[2022-05-06 03:17] yangmarcyang opened #3039 ""SELECT FOR UPDATE" is needed for PostgreSQL"
Hi All,

In #2770, we encountered "extreme cases" where a JWT key exists in local journal.pem but does not exist in DB bundle table. Recently the issue happened again in our setup where a spire-server generated a new key, stored in DB bundle table without any error, saved into local journal.pem file, but unfortunately that key did not exist in DB bundle table.

After we set up testing environment

[2022-05-06 06:26] loveyana commented on #3039
* **Version**: v1.1.0
* **Platform**: Kubernetes v1.21.9
* **Subsystem**: Server

[2022-05-06 12:27] amartinezfayo commented on #3039
@azdagron This behavior was introduced in #2605 to fix #2587. As @yangmarcyang points, data consistency checks have special considerations in PostgreSQL when hot standby mode is turned on. May we able to detect when this mode is turned on and have `SELECT .. FOR UPDATE` there also?

[2022-05-06 12:51] loveyana commented on #3039
I think we can tell if psql is in hot standby mode by `show hot_standby` is on and `show wal_level` is not minimal, but I'm not sure if this problem occurs in other psql configurations. If `SELECT ... FOR UPDATE` is currently fully enabled under mysql and it has less impact on performance, can we accept it as the default query option.

[2022-05-06 14:19] azdagron commented on #3039
I don't see a problem just enabling SELECT FOR UPDATE on all read-modify-write tx's for both MySQL and PostgreSQL.

[2022-05-06 14:38] amartinezfayo commented on #3039
Thanks @azdagron. I also think that there shouldn't be any problem enabling `SELECT ... FOR UPDATE` on all read-modify-write transactions for both MySQL and PostgreSQL.
I've added this to the [1.3.1](https://github.com/spiffe/spire/milestone/18) milestone.

[2022-05-06 15:30] amartinezfayo commented on #3032
I'm thinking that there may be a k8s configuration related with [how ConfigMaps are updated](https://kubernetes.io/docs/concepts/configuration/configmap/#mounted-configmaps-are-updated-automatically), that is producing this behavior. In particular, I'm wondering if this situation is influenced by the [`configMapAndSecretChangeDetectionStrategy`](https://kubernetes.io/docs/reference/config-api/kube

[2022-05-06 16:54] szvincze commented on #3032
@amartinezfayo I have checked my environments and found no value configured for this attribute. Thus I assume the default value "Watch" is used in this case.

Could you please help me to understand how it is supposed to work?

For me it looks like there is a timing issue because spire-server and agent are started in the same time, as helm does this way. Even if spire-agent is waiting in init for t

[2022-05-06 18:08] azdagron commented on #558
Hi @ajessup! We haven't seen movement on this issue for a while. Is this discussion still relevant given the direction we've headed for serverless architecture support? If there are still specific integrations in mind, I'd suggest opening a new issue to discuss the specific integration that we can scope independently.

I'll go ahead and close this for now, pending any new discussion.

[2022-05-06 18:08] #558 closed

[2022-05-06 18:17] azdagron commented on #632
I think this is a very interesting feature. Implementing this properly is going to require quite a bit of design work. I think we'd like to see some more concrete use cases laid out before we considered picking up this work.

I'm going to close this out until then.

[2022-05-06 18:17] #632 closed

[2022-05-06 18:18] azdagron commented on #707
I believe this documentation should live with the specification. There have also been additional works in this area (like the introduction of the hint field), that may have already addressed these concerns.

I'll close this issue for now. If there is additional clarification required, please open an issue up against the spec.

Thanks!

[2022-05-06 18:18] #707 closed

[2022-05-06 18:24] azdagron commented on #744
I believe this will be covered by #2588.

[2022-05-06 18:24] #744 closed

[2022-05-06 18:30] azdagron commented on #752
I _think_ this is now possible today by:
1) populating the container environment from the configmap/secret
2) Use the envvar in the configuration with the `-expandEnv` CLI flag.

Please let us know if this is not the case.

[2022-05-06 18:30] #752 closed

[2022-05-06 18:31] azdagron commented on #753
I think we have our bases mostly covered today. If there is a specific configurable that we need to expose, please open a new issue.

[2022-05-06 18:31] #753 closed

[2022-05-06 18:33] azdagron commented on #799
I think we've tackled most of the things outlined in this issue and things have more or less settled around how SPIRE handles metrics. If there are additional features, guidelines, or suggestions in this area, please open a new issue. Thanks for this hard work, @amoore877 !

[2022-05-06 18:33] #799 closed

[2022-05-06 18:35] azdagron commented on #804
I think this might be interesting, but haven't had many people ask for this in quite some time. Closing for now.

[2022-05-06 18:35] #804 closed

[2022-05-06 18:37] azdagron commented on #812
This should be an easy fix. We should audit all of the built-in plugins that do the TOFU checks to ensure the ID is included in the error.

[2022-05-06 18:38] azdagron commented on #823
Closing for now (see #799).

[2022-05-06 18:38] #823 closed

[2022-05-06 18:41] azdagron commented on #824
I think this is handled by the per-rpc metrics emitted uniformly by the SVID API handler. Please let us know if this isn't sufficient.

[2022-05-06 18:41] #824 closed

[2022-05-06 18:49] azdagron commented on #847
I think at this point the plan is to eventually deprecate node resolvers.

[2022-05-06 18:49] #847 closed

[2022-05-06 18:50] azdagron commented on #869
We haven't had any more requests along these lines for quite some time. Closing for now.

[2022-05-06 18:50] #869 closed

[2022-05-06 18:51] azdagron commented on #896
This issue is no longer relevant. We're exploring other, related options.

[2022-05-06 18:51] #896 closed

[2022-05-06 18:53] azdagron commented on #913
We no longer publish under the unstable tag. Additionally, upgrading always requires careful consideration, so pinning to a "stable" version won't imply a safe upgrade if you move more than one minor release. I think what we have now is working well. Happy to consider other angles but will close for now.

[2022-05-06 18:53] #913 closed

[2022-05-06 18:55] azdagron commented on #921
While this is still possible, it's much less likely given the way SPIRE currently operates. I'm going to close this issue for now.

[2022-05-06 18:55] #921 closed

[2022-05-06 18:56] azdagron commented on #947
The docs have had some churn since this was first opened and I'm not sure it's still relevant. Closing for now.

[2022-05-06 18:56] #947 closed

[2022-05-06 19:00] azdagron commented on #989
SPIRE has for some time detected when change to the trust domain happens and fails to launch. Switching trust domains isn't likely to be supported in the short term. If we can come up with a strong enough use case that can be revisited.

[2022-05-06 19:00] #989 closed

[2022-05-06 19:01] azdagron commented on #992
This is no longer relevant since the DataStore is no longer a plugin.

[2022-05-06 19:01] #992 closed

[2022-05-09 16:04] azdagron commented on #1002
We've started splitting this up with new additions, but we're unsure of the future of the current code. If the prototype/exploration efforts don't pay off and we decide to stick with the current plugin, we'll be making some larger refactoring efforts to clean things up and can consider this then.

[2022-05-09 16:04] #1002 closed

[2022-05-09 16:10] #1004 closed

[2022-05-09 16:14] azdagron commented on #1030
Thanks for opening this @amoore877. Nobody has complained about this so I'm going to go ahead and close it for now.

[2022-05-09 16:21] azdagron commented on #1074
It's been a while and this hasn't been heavily requested. Going to go ahead and close for now.

[2022-05-09 16:21] #1074 closed

[2022-05-09 16:21] #1080 closed

[2022-05-09 16:24] #1091 closed

[2022-05-09 16:29] azdagron commented on #1118
This is less problematic now that we have a common way for RPCs to add labels to calls (instead of emitting metrics directly). Closing for now.

[2022-05-09 16:29] #1118 closed

[2022-05-09 16:30] azdagron commented on #1149
If/when we decide to make a larger scale investment into the sqlstore package, we can clean this up as part of that refactoring. Closing until then.

[2022-05-09 16:30] #1149 closed

[2022-05-09 16:31] azdagron commented on #1179
This is now the case with the GH pipeline.

[2022-05-09 16:34] azdagron commented on #1218
I think we're still open to having this kind of tool. However, it's been a few years a while and we've had no asks from the community for it. I'm going to close this for the time being.

[2022-05-09 16:34] #1218 closed

[2022-05-09 16:35] azdagron commented on #1237
SPIRE has created the data directory if it doesn't exist for quite some time.

[2022-05-09 16:35] #1237 closed

[2022-05-09 16:36] azdagron commented on #1240
I'll close for now. Happy to revisit if there is something we can do that will be generally useful.

[2022-05-09 16:36] #1240 closed

[2022-05-09 16:41] #1302 closed

[2022-05-09 16:42] #1305 closed

[2022-05-09 16:45] azdagron commented on #1315
I think this is being solved to some extent with #2593. Happy to revisit if needed.

[2022-05-09 16:45] #1315 closed

[2022-05-09 16:46] azdagron commented on #1336
This should be more or less be covered by #2588, which adds the hint field.

[2022-05-09 16:46] #1336 closed

[2022-05-09 16:49] azdagron commented on #1304
This has since been solved as part of #1148

[2022-05-09 16:49] #1304 closed

[2022-05-09 16:49] #1005 closed

[2022-05-09 16:51] #1338 closed

[2022-05-09 17:00] #1438 closed

[2022-05-09 17:13] #1758 closed

[2022-05-10 11:09] StupidScience commented on #2808
@jonringer I've checked briefly and "ideal" json require few tweaks in plugin section to be working
[code]

But in general I agree that would be great to have more idiomatic json support.

[2022-05-10 18:59] azdagron opened #3048 "Fail if join token plugin override is configured"
The catalog system allows external plugins to override the built-in plugins by design. However, join token attestation is unique, in that the code for it is not handled through a plugin but through special purpose code in the agent and server. The effect of this is that an external join token plugin cannot override the behavior. It is just silently ignored.

#3045 updated the catalog system to war

[2022-05-10 22:55] #2818 closed

[2022-05-11 08:23] lucaserafini-dev opened #3052 "Feature Request: NodeAttestor based on IP address"
Hi SPIRE Community,
I'm trying to use your project in a baremetal environment. As of now, I think that the only way to make SPIRE Agent authenticate with SPIRE Server is to share a secret between Agent machine and Server machine (token, certificate, whatever...)

If we create a NodeAttestor based on IP address, the agent will be automatically authenticated through parameters which can be verified

[2022-05-11 18:02] MarcosDY opened #3054 "Remove support to unknown configuration on docker attestor"
#2937 Start warning when an unknown configuration found on plugin. This issue tracks the remove supporting unknown configurations and start fatal at start of SPIRE Agent in SPIRE 1.4.0.

[2022-05-11 18:26] szvincze commented on #3032
There is an init container (wait-for-it) which is waiting for the SPIRE Server's TCP port to be open. My understanding is that the trust bundle is also a prerequisite for SPIRE Agent to be able to start up and get ready status.
I have tried to implement a check in the init container that is waiting for the server port but that was not really successful (as @richardstone also indicated in issue #29

[2022-05-11 19:12] azdagron commented on #2920
I believe this is fixed now. We've updated our docker library dependencies over the last few months, which indirectly pulled in containerd v0.6.1, which includes a fix for the function that caused the failure at package init time. @faisal-memon confirmed that he was able to run the agent on an M1-based macbook.

Please let us know if you still can't run the agent, @wibarre !

[2022-05-11 19:12] #2920 closed

[2022-05-11 19:42] azdagron commented on #2913
The error message is a little vague, but comes from the linker not being able to locate libc. The precompiled go binaries for amd64 linux depend on glibc, which isn't installed into alpine by default. I'm not sure we'd want to make a change that detects if we're in a musl environment and compiles go from source. Possibly a more practical approach would be to install base your build container on `g

[2022-05-11 21:09] bnevis-i commented on #2913
What makes this difficult is that even if you have an alpine go build container, if the go version doesn't match IDENTICALLY, the go-check will fire and try to download an inappropriate precompiled go binary and fail as above.

[2022-05-12 15:06] azdagron commented on #2913
That isn't an ideal experience, I agree. I'm very much on board figuring something out here.

That's an option. Though we have our reasons for pushing folks to build with the same version of Go (see below).

For certain classes of software, I'm in large agreement. However, we have made the choice to try and control the version of Go used to build the project with the official tooling for a few rea

[2022-05-12 15:55] bnevis-i commented on #2913
Additional input: if the release spire binaries were statically linked, or came in a MUSL version, I would just use the precompiled binaries.

[2022-05-12 16:01] azdagron commented on #3021
Released.

[2022-05-12 16:01] #3021 closed

[2022-05-12 16:11] azdagron commented on #2913
That's good feedback. The docker images we publish to GHCR contain statically linked binaries (against MUSL). You could use those (or copy the binary out for your own purposes).

[code]

[2022-05-12 17:00] bnevis-i commented on #2913
Good suggestion!  That will save so much time!

[2022-05-12 19:05] rturner3 commented on #1508
The behavior of FetchJWTSVID has changed since this issue was originally reported, and the error message cited in the issue description is no longer used. Closing this, please open another issue if you find any other improvements to error reporting.

[2022-05-12 19:05] #1508 closed

[2022-05-12 19:08] rturner3 commented on #1517
Closing this issue due to staleness. If you encounter any other problems around database reliability, please feel free to open a new issue.

[2022-05-12 19:08] #1517 closed

[2022-05-12 19:11] rturner3 commented on #1521
Closing this issue as no one has asked for this in several years.

[2022-05-12 19:11] #1521 closed

[2022-05-12 19:15] azdagron commented on #3052
Hi @lucaserafini-dev, thank you for opening this issue.

In general, relying on a network location (e.g. IP address) to positively identify an agent or workload is fundamentally against the principles of Zero Trust Networking.

There are instances where we have considered taking a feature that would use IP Addresses to scope what agents were allowed to attest (#1273) but this would be more of a sa

[2022-05-12 19:17] azdagron commented on #1519
The gRPC libraries have taken several fixes over the last two years to re-establish subconns in a variety of connectivity loss circumstances. I think it's a good chance that this experience has been improved with those changes.

I'm going to go ahead and close this issue. Please let us know if there is still something to dig into here. Thanks!

[2022-05-12 19:17] #1519 closed

[2022-05-13 07:48] lucaserafini-dev commented on #3052
Hi @azdagron, thanks for the reply. Can I ask you which principle is being violated?

I think there is no way to steal an IP without compromising company's entire network. As a plus, if we use IP address to identify agents we can solve Secret Zero problem

I'll give you an example of how I thought it:
- SPIRE Server side we configure a set of allowed IPs for the NetworkAttestor (entire subnets lik

[2022-05-14 11:55] rgl opened #3065 "Cannot set the windows spire-agent named_pipe_name configuration"
* **Version**: 1.3.0
* **Platform**: Windows Server 2022
* **Subsystem**: agent

The Linux version of spire-agent lets us set the unix domain socket path with:

[code]

But this does not work on Windows, and it tells us to set the `named_pipe_name` property instead:

[code]

Modifying the configuration to use the `named_pipe_name` property (and using the named pipe syntax):

[code]

But that also

[2022-05-14 12:19] amartinezfayo commented on #3065
Hi @rgl, please note that the `named_pipe_name` setting needs to be inside the experimental section, e.g.::

[code]

If it's not under the experimental section, the setting will be unknown. Including it under `experimental` should fix the problem.

[2022-05-14 14:10] rgl commented on #3065
That was it! I completely missed that `experimental` section.

Thank You!

[2022-05-14 14:10] #3065 closed

[2022-05-16 01:37] bnevis-i commented on #2913
@azdagron Is there an ARM64 version as well?

[2022-05-16 15:20] azdagron commented on #2913
Not yet. There is an open issue in the backlog to provide multi-arch images: #1984

[2022-05-17 07:28] Falco20019 opened #3076 "Improve infrastructure for named pipes"
This is a follow-up on #2342.

* **Version**: 1.3.0
* **Platform**: Windows 10 20H2
* **Subsystem**: spire-server

I sadly missed out on the switch to named pipes a month ago. Using pipes works great as long as you only use the given tools or live in a GoLang world. As soon as you try to use gRPC with named pipes in any other language, you run into issues. For C++ and related languages, it's reque

[2022-05-17 08:26] amartinezfayo commented on #3076
Thank you @Falco20019 for opening this issue.
We are aware of the lack of support for named pipe transports in the C/C++ gRPC library. That was one of the reasons why we tried with TCP transport first, but then we realized that we had many other limitations with TCP that made us to switch to named pipes.
Improving the integration with other language libraries is a priority for us and we plan to wo

[2022-05-17 08:37] Falco20019 commented on #3076
@amartinezfayo Thanks for your response. I created follow-up issues for bringing `spiffe/go-spiffe` and `ghostunnel/ghostunnel` up with named pipe support. Both should not be too hard to update. Especially `ghostunnel` is just relying on `spiffe/go-spiffe` which sadly still missed the support. But since it's also maintained by the same team AFAIK, you should already have an easy life implementing

[2022-05-17 08:37] Falco20019 commented on #3076
@amartinezfayo Thanks for your response. I created follow-up issues for bringing `spiffe/go-spiffe` and `ghostunnel/ghostunnel` up with named pipe support. Both should not be too hard to update. Especially `ghostunnel` is just relying on `spiffe/go-spiffe` which sadly still missed the support. But since it's also maintained by the same team AFAIK, you should already have an easy life implementing

[2022-05-17 18:43] #2958 closed

[2022-05-18 11:56] tanjunchen opened #3092 "Failed to collect all selectors for PID" error="workload attestor \"k8s\" failed: rpc error: code = DeadlineExceeded desc = workloadattestor(k8s): no selectors found after max poll attempts""
* **Version**:
1.0.1

* **Platform**:
k8s + istio

* **Subsystem**:
spire-server:
[code]

spire-agent:
[code]

When I get the certificate through spire-agent, I get an error.
the logs of spire-agent:
[code]

the logs of spire-server:
[code]

the agent list in spire-server.
[code]

the entry in spire-server.
[code]

[2022-05-18 12:15] nweedon-u opened #3093 "Documentation on trust CA rotation missing"
Documentation and best practices on rotating the trust root CA used by spire-server are missing. Documentation on this matter would be great for ongoing maintenance and avoiding downtime.

@azdagron and I have already discussed parts of this in Slack: https://spiffe.slack.com/archives/CBNCC2V17/p1652786614071339

[2022-05-19 03:51] loveyana commented on #3092
@tanjunchen It looks like your attest workload exit when the spire agent collects its selectors.

[2022-05-19 05:47] tanjunchen commented on #3092
yes,but I want to get ca by SDS,it failed.
[code]

[2022-05-19 07:58] radoslav-tomov commented on #3092
@tanjunchen  I've seen similar error, but was related to the fact I tried to fetch an identity from a process running in  initContainer, which led to failing attestation.

[2022-05-19 08:28] #2788 closed

[2022-05-19 20:53] wibarre commented on #2920
All is working well now. Thank you!

[2022-05-22 13:18] tanjunchen commented on #3092
hello，could you explain the version of k8s,envoy and so and?do you have resole it ?

[2022-05-22 13:20] tanjunchen commented on #3092
ok, Thanks  for your explanation, thank you very much.

[2022-05-22 13:28] sys0613 opened #3099 "k8s-quickstart configure-a-workload-container-to-access-spire something error"
I operation as the tutorials
https://spiffe.io/docs/latest/try/getting-started-k8s/#configure-a-workload-container-to-access-spire

when operation as https://spiffe.io/docs/latest/try/getting-started-k8s/#configure-a-workload-container-to-access-spire

after run
**kubectl apply -f client-deployment.yaml**
then run
**kubectl exec -it $(kubectl get pods -o=jsonpath='{.items[0].metadata.name}'  -l ap

[2022-05-23 13:28] tanjunchen commented on #3092
I found the reason for the failure, because I turned on the **holdApplicationUntilProxyStarts=true** parameter when I installed istio.
[code]
This should be a **bug** in spire.

[2022-05-23 14:45] azdagron commented on #3092
I'm not sure I understand how that flag is impacting workload attestation. Envoy is the workload being attested in this situation, correct? Presumably the envoy container has a good status even if the application hasn't started?

Can you share the pod spec and status for the time period when workload attestation is being attempted?

[2022-05-23 14:56] tanjunchen commented on #3092
pls see https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/ for holdApplicationUntilProxyStarts.
You can use this parameter to install istio and then debug it.

[2022-05-23 15:12] azdagron commented on #3099
Sounds like you are running a cluster with the deprecated [DenyEscalatingExec](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#denyescalatingexec) Admission Controller. The tutorial won't work with that AdmissionController enabled since it relies on exec'ing into privileged containers for demonstrative purposes.

[2022-05-23 15:12] #3099 closed

[2022-05-23 15:33] azdagron commented on #3052
The concept of zero trust networking is that you cannot wholly trust your network. For example, ARP poisoning is still a viable means to confuse the network as to who owns an IP address. This kind of node attestation could conceivable allow for lateral movement by an attacker who compromises one host in the network. Generally speaking, the IP address isn't reliable for strong attestation.

That be

[2022-05-23 15:36] azdagron commented on #3092
If you have the pod spec and status available, that would really help speed up debugging. If not, that is totally ok. It will however probably take some time for someone to find the time to reproduce.

@maxlambrecht have you seen this before?

[2022-05-24 07:55] sys0613 commented on #3099
It is ok，thank you very much..
but some other thing wrong,can you help me ?

[code]
after exec to container
run shell ,some thing error..
"rpc error: code = PermissionDenied desc = no identity issued"

[2022-05-24 07:56] sys0613 commented on #3099
@azdagron

[2022-05-24 13:47] azdagron commented on #3099
What is the output of ```
# kubectl exec -n spire spire-server-0 -- /opt/spire/bin/spire-server entry show
[code]

[2022-05-24 13:51] azdagron commented on #3099
Let's continue this discussion on the issue you have opened in the SPIRE tutorials repository.

[2022-05-24 16:30] maxlambrecht opened #3101 "Fetch bundles methods are generating phony updates"
Using the `WatchX509Bundles` method from `go-spiffe` library I’m seeing that the updates arrive based on the `SVID_TTL` and not on the `CA_TTL` as I’d expect.

Looking into the SPIRE workload handler, the `FetchX509Bundles` method is using `SubscribeToCacheChanges`, thus it's generating phony updates.

* **Version**: Any
* **Platform**: Any
* **Subsystem**: Agent

[2022-05-24 16:40] azdagron commented on #3101
`SubscribeToBundleUpdates` generically subscribes to bundle updates for every bundle that the agent knows about. `SubscribeToCacheChanges` filters the subscription by the workload selectors.

Off the top of my head, we can fix this one of two ways:
1. Add a new way to subscribe to bundles for a specific workload
2. Remember the last response we sent to the caller and when we get notified of a chan

[2022-05-24 19:19] azdagron commented on #3092
The container ID that SPIRE is trying to attest is not present in the pod status. Is it possible that the Envoy proxy is crashing on startup? That would explain why SPIRE can't find the container and why the peertracker layer is no longer able to watch the calling process. What do the envoy logs show?

[2022-05-24 22:06] #3039 closed

[2022-05-25 02:02] tanjunchen commented on #3092
@azdagron
There are logs from envoy above, envoy has been waiting to get a certificate from spire.
envoy and spire are waiting for each other。

[2022-05-25 17:56] maxlambrecht commented on #3092
I was able to reproduce the error using Istio `1.14` with the configuration:

[code]

I see the same error on the SPIRE Agent logs, related to the attestation of the process:
[code]

[2022-05-25 19:04] deanyxu opened #3108 "HTTP Workload APIs"
Hi, we implemented a HTTP (non-gRPC) version of workload APIs and corresponding SDKs internally, in order to support internal services that did not want to have gRPC dependency. It is very similar to the gRPC approach, except both workload (i.e SDK) and agent communicate via REST instead of gRPC.

The changes are currently sitting in an internal fork of spire. We would like to check if the communi

[2022-05-25 21:56] dfeldman commented on #1836
update: we now have all the parts of this except an actual command line for deleting the old entries

[2022-05-26 06:44] georgi-lozev opened #3110 "SPIRE Server should issue unique Subject DN"
* **Version**: N/A
* **Platform**: N/A
* **Subsystem**: Server

Reading https://datatracker.ietf.org/doc/html/rfc2459#section-4.1.2.6 we have the following paragraph.

   distinguished name (DN). The DN MUST be unique for each subject
   entity certified by the one CA as defined by the issuer name field. A
   CA may issue more than one certificate with the same DN to the same
   subject entity.

C

[2022-05-26 08:22] tanjunchen commented on #3092
@azdagron  @maxlambrecht
[code]

[2022-05-26 17:57] #2237 closed

[2022-05-26 19:01] azdagron commented on #3110
Would it simply be sufficient to just set the SerialNumber field on the Subject to a string representation of the serial number for the certificate? That seems like it would satisfy the uniqueness requirement without introducing the complexity of a new configuration landscape that operators can still get wrong (e.g. not providing a template that would generate a unique subject).

Is there a strong

[2022-05-26 19:39] azdagron commented on #3108
Hi @deanyxu! Thanks for reaching out. We discussed this today and had the following thoughts:

- It is unlikely that even if SPIRE took this change that the SPIFFE specification would adopt an HTTP-based API alongside the gRPC-based API.
- gRPC seems to mostly be a barrier for adoption for existing (legacy) software that has a high cost to change, and considering that, there are already solutions

[2022-05-26 19:40] azdagron commented on #3092
I've repro'd this and am digging in as I have time. From what I can tell, the envoy containers started up in the workload pods aren't showing up in the pod listing retrieved from the kubelet. I'm still trying to figure out why.

[2022-05-27 05:52] radoslav-tomov commented on #3092
@azdagron I don't recall al the details, but I've noticed that the pod needs to be in certain status for the info to be available. For example I've seen that prior to  condition `Initialized` to be completed, there is no pod listing as well. This is why I mentioned there is no way to get identity in init container.  Hope this helps.

[2022-05-27 12:16] sebastianGit commented on #3110
Hello,

for me it sounds like setting the subject to "CN=<certificate's serial number>" satisfies the part that the DN in the subject must be unique for each subject entity certified by one CA (requirement given in [a] - see below), as the serial number must be unique per certificate issued by a CA (see [b] - see below).

- [a] https://datatracker.ietf.org/doc/html/rfc2459#section-4.1.2.6 "Where i

[2022-05-30 06:55] szvincze commented on #3032
I included a small [function](https://github.com/Nordix/spire/blob/3032/cmd/spire-agent/cli/run/run.go#L613-L626) in spire-agent that checks if the trust bundle file is accessible. It seems from the logs that in worst case the file gets in place within 200ms. (One waiting loop then the repeated one is successful.) However, as I mentioned above, waiting for the bundle in an init container does not

[2022-05-31 00:32] amartinezfayo commented on #3032
The explanation that I can think of is that the init container has a different view of the ConfigMap.

Isn't relying on agent restarts a possible solution?

[2022-05-31 12:33] chdalski opened #3121 "Feature Request: add health checks to oidc-discovery-provider"
Currently the oidc-discovery-provider has no purposive health check endpoints.

It would be nice if the oidc-discovery-provider would get similar configurable endpoints as the server/agent, which currently are:
[code]
See: https://github.com/spiffe/spire/blob/main/doc/spire_server.md#health-check-configuration

* **Version**: 1.3.0
* **Platform**: k8s
* **Subsystem**: oidc-discovery-provider

[2022-05-31 19:10] azdagron commented on #3121
I think this is very reasonable. Happy to discuss a design here.

[2022-06-01 15:31] #2980 closed

[2022-06-01 16:24] #1361 closed

[2022-06-01 19:43] azdagron commented on #3101
Fixed by #3102

[2022-06-01 19:43] #3101 closed

[2022-06-01 19:59] dennisgove opened #3126 "Deletion of registration entries is leaving orphaned `dns_names` rows"
* **Version**: Seen in 1.1.4  (issue appears in `main` branch)
* **Platform**: Ubuntu
* **Subsystem**: DataStore "sql"

When a registration entry is deleted via [`deleteRegistrationEntrySupport`](https://github.com/spiffe/spire/blob/main/pkg/server/datastore/sqlstore/sqlstore.go#L3219-L3234) the method deletes from both the `registered_entries` and `selectors` tables. However, it does not also del

[2022-06-01 20:16] azdagron commented on #3126
Thanks for finding this @dennisgove! Depending how quickly you think you can prepare a PR, we'd love to include this in our 1.3.1 release. The plan was to pick a commit today, but we can hold off a day or two.

Is your plan to just "stop the bleeding" or also include code to clear the orphaned rows?

[2022-06-01 20:19] dennisgove commented on #3126
I'd love to get this in soon. I'll begin working on it now. Certainly plan to "stop the bleeding", but if there's an existing place to put cleanup code (perhaps the db migration flow?) I'm happy to do that too.

At the very least, we're going to manually delete the orphaned records in our instances to alleviate the immediate issue for us. However, I think it would be nice to take care of that as p

[2022-06-01 21:06] dennisgove commented on #3126
How does the project handle backporting fixes like this? If additional PRs are needed I can send those in as well.

[2022-06-01 21:48] #3126 closed

[2022-06-02 09:13] glazychev-art opened #3128 "Question: max length of the pod name"
Hi,
We are using `k8s-workload-registrar` in the our project. It creates a new `SpiffeID` entry based on the Pod name.
But we found, that it doesn't work if the pod name is longer than _**63**_. And there is no information in the logs.

Why is this happening? Am I missing something?

Thanks

* **Version**: v.1.2.3

[2022-06-02 15:06] azdagron commented on #3128
This is likely the [validation](https://github.com/spiffe/spire/blob/946f2a8ffde4046b0da02ddc1c6483ba75ad14cf/support/k8s/k8s-workload-registrar/mode-crd/api/spiffeid/v1beta1/spiffeid_webhook.go#L136) that the DNSNames on the entry are valid DNS names. It uses the [x509util.ValidateDNS](https://github.com/spiffe/spire/blob/946f2a8ffde4046b0da02ddc1c6483ba75ad14cf/pkg/common/x509util/dns.go#L13) wh

[2022-06-02 15:26] azdagron commented on #3128
Here is the object naming constraints for Kubernetes:

https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

Apparently, Pod names are only constrained to DNS subomain names according to [this](https://kubernetes.io/docs/concepts/workloads/pods/)

This is a little strange, seeing as [this](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/) page shows exam

[2022-06-02 16:32] azdagron opened #3130 "Remove orphaned entry-related database rows"
The bug reported in #3126 caused dns_names rows to be orphaned when entries were deleted. There was a similar bug existed previously for selectors (#1191). Due to these bugs, its possible that existing deployments have accumulated large amounts of database cruft that could be impacting query performance, particularly in entry list operations which involve many joins with the impacted tables.

We s

[2022-06-02 16:45] azdagron opened #3131 "Remove orphaned entry-related row cleanup code"
#3130 describes adding code to clean up orphaned entry-related rows caused by bugs that were fixed as of 1.3.1.

With our upgrade path, we can assume that existing deployments will execute that code as part of migrated to 1.3.1+ or 1.4.X. This means we can remove the cleanup code in 1.5.0.

This issue tracks the removal of that cleanup code.

[2022-06-02 19:19] rturner3 opened #3133 "Re-attest existing Agent after Agent NodeAttestor configuration changes"
Consider the following sequence of events:

1. A SPIRE Agent is initialized and successfully attests to SPIRE Server
2. While the Agent has a valid Agent SVID still cached on disk, the Agent is re-configured with a new NodeAttestor configuration and restarted. Some examples of NodeAttestor configuration changes are a different X.509 certificate/private key for `x509pop` or using a different NodeAt

[2022-06-02 19:22] azdagron commented on #3052
I'll go ahead and close this for now. Please let me know if you'd like further discussion.

[2022-06-02 22:21] #3130 closed

[2022-06-02 22:28] azdagron opened #3134 "Release SPIRE 1.3.1"
Candidate commit: [84866e1](https://github.com/spiffe/spire/commit/84866e1b677c8f8da997fd49d2f7ae43f0a3119e)
Release date: June 9th, 2022.

[2022-06-07 18:56] azdagron commented on #3108
I'll close this out for now. Please let us know if you have further thoughts. Thanks!

[2022-06-07 18:56] #3108 closed

[2022-06-07 18:56] azdagron commented on #3128
Closing this out for now. Let us know if you have further questions!

[2022-06-07 18:56] #3128 closed

[2022-06-07 19:46] amartinezfayo commented on #3032
We have discussed this issue in the last maintainer's sync, looking for different alternatives to solve this problem.
Since the timing between when the server publishes its bundle to a ConfigMap and when the agent container sees it is not under control of SPIRE, it doesn't seem that would be appropriate to implement a logic within SPIRE to accommodate that (like some retry logic in the agent).

I'

[2022-06-07 19:48] azdagron commented on #3110
Hmm, yes, using the serial number won't work for the reasons you pointed out.

SPIRE generates [random 128-bit](https://github.com/spiffe/spire/blob/main/pkg/common/x509util/serialnumber.go) serial numbers.

[2022-06-08 09:40] chdalski commented on #3121
@azdagron From my understanding so far the oidc-discovery-provider is, contrary to the spire server/agent, a single service web-serving process.
So for "ready" I would expect something as simple as http 200 if the service is up and running.
For the "live" part my understanding would be that the web-service can successfully access the workload api, meaning that /keys and /.well-known/openid-configu

[2022-06-08 19:02] azdagron commented on #3092
Hmm, I haven't been able to observe that behavior. If I stand up a vanilla kubernetes cluster (via kind 0.12.0) and deploy a workload with an init container that never terminates and is thus perpetually in an Init state, I can still gather the init container's pod UID and container ID via cgroups from the agent container and see them in the pod listing returned by the kubelet.

[2022-06-09 19:19] azdagron commented on #2700
Hey @dennisgove ! That is an interesting proposal and something similar has come up before. We're still digesting this all and trying to decide on a direction we're all comfortable with. We'll try and have something actionable soon.

[2022-06-09 19:22] bnevis-i opened #3152 "workload attestor \"k8s\" failed unexpected status code on pods response: 403 Forbidden (user=system:anonymous..."
The k8s workload attestor will fail with message

[code]

if kubelet is not started with the `--authentication-token-webhook` flag

The documentation does not mention that in the kubeadm-based Kubernetes bootstrap, this *flag is not enabled by default*.

Furthermore, `/etc/kubernetes/kubelet` configuration is ignored and the proper place to add the flag is `/etc/systemd/system/kubelet.service.d/ku

[2022-06-09 19:23] #3152 closed

[2022-06-09 22:21] amartinezfayo commented on #3134
SPIRE 1.3.1 has been released: https://github.com/spiffe/spire/releases/tag/v1.3.1

[2022-06-09 22:21] #3134 closed

[2022-06-10 16:04] amoore877 commented on #3133
Can we not just evict the Agent? Then Agent will be told it's not valid and it will attempt attestation?

Or would attestation not happen until the Agent's SVID is expired?

[2022-06-10 21:57] rturner3 commented on #3133
Agent eviction is generally how this should be handled by an operator since the Server is the authority on what SVIDs are valid for the trust domain. This proposal is more of a catch-all for the case when agents are not evicted, maybe due to operator error, accidental Agent misconfiguration, or challenges with handling eviction across a lot of Agents.

[2022-06-10 22:11] faisal-memon commented on #2353
Addressed with this PR: https://github.com/spiffe/spire/pull/2643

[2022-06-10 22:11] #2353 closed

[2022-06-13 20:12] yueqiao1 opened #3161 "Automatic recovery from JWK key missing in trust bundle"
We observed several JWT public key missing incidents because of split-brain in the database. To be more specific, because of the co-existence of two primary trust bundle database instances, Spire Agents get different trust bundles from Spire Servers and some trust bundles are incomplete. Therefore, some legal tokens cannot be validated because their public keys are not included in certain trust bu

[2022-06-14 19:23] rturner3 commented on #3092
@faisal-memon Could you take a look?

[2022-06-14 19:25] faisal-memon commented on #3092
sounds good

[2022-06-14 19:43] azdagron commented on #3110
@sebastianGit, you bring up good points, though some of these requirements still feel unclear to me. Do you have specific examples? That would help us make a determination.

In terms of a proposal that makes us RFC compliant and allows _some_ flexibility in the X509-SVID Subject but that stops short of templating, what about the following?
1. X509-SVID's inherits most of same Subject values you ca

[2022-06-14 23:31] rturner3 commented on #2700
The maintainers discussed this issue and decided we would be in favor of a solution that allows users to configure TTLs of X.509-SVIDs and JWT-SVIDs at the entry level with new, separate properties on the Entry type. This would provide the most flexibility for defining JWT-SVID TTLs separately from X.509-SVID TTLs while providing a consistent user experience for how this configuration is provided

[2022-06-14 23:34] dennisgove commented on #2700
Without a doubt. I'm happy to get started on this.

[2022-06-14 23:48] rturner3 commented on #3161
Hi @yueqiao1 , the maintainers discussed this today and want to acknowledge the pain points you've described here with previous versions of SPIRE that had improper interactions with some SQL databases when updating the bundle. However, we feel that if there are data consistency issues like you described, they should be directly addressed with appropriate fixes in SPIRE Server datastore code and da

[2022-06-15 07:54] szvincze commented on #3032
@amartinezfayo Thanks for your comment.

As I wrote previously, unfortunately it did not work when we included checking of the trust bundle file into the init container that waits for spire-server's TCP port to be open. After the port was available the second waiting loop started to check the bundle but that took more than a minute. However when I put this retry into spire-agent that took 0.2 seco

[2022-06-15 17:41] yueqiao1 commented on #3161
Thanks for your quick response, @rturner3 !

We had another round of internal discussion and felt like a defense mechanism is highly desired for better reliability. So we decided to work on adding it in our own fork if you still have concerns about adding it in the public version. And below is our rationale:

1. First I want to clarify that such kind of issues is not necessarily caused by code bug

[2022-06-16 18:42] amartinezfayo commented on #3032
Thank you @szvincze. It's good to know that you have a workaround for this problem.
I'm closing this issue. Please feel to re-open if you think that we still need to address something in SPIRE.

[2022-06-16 18:42] #3032 closed

[2022-06-16 21:14] azdagron commented on #3110
Is this a requirement? As far as I know, the RFC only states that within a single CA, that the DN uniquely identify an entity, correct? You'd have the same problem today issuing certificates with unique CN's with multiple CA with DNs that are equivalent other than the CN.

I'm not quite sure I follow what this is proposing. Can you provide a concrete example?

That is an interesting point. I'm a l

[2022-06-16 22:08] rturner3 commented on #3161
@yueqiao1 I think it would be helpful if we could identify some specific scenario(s) where a network partition somewhere in the deployment would result in a split-brain that results in workloads failing to verify SPIRE-issued JWT-SVIDs and how the proposed mechanism for handling JWT signing keys would mitigate those scenarios. I'm not quite sure I understand in what cases network partitions might

[2022-06-17 00:35] rturner3 commented on #2700
Hi @dennisgove, so assuming we can start this right away, a rough sequence and timeline for the changes would be:

- Add database changes to RegisteredEntry model (v1.3.x)
- Add new TTL fields to Entry type in API (v1.5.0)
- API implementation persisting new fields into database (v1.5.0)
- Add Server configuration properties for default X.509-SVID and JWT-SVID TTLs (v1.5.0)

Because we support man

[2022-06-17 00:55] dennisgove commented on #2700
Hi @rturner3. I started looking at the required changes earlier today and came up with basically the same schedule, though was thinking v1.4 as I wasn't aware of the 2 minor requirement for db changes.

Schedule looks great, and I'll have a PR with the db changes in a few days.

Just so I'm clear, after the db changes in 1.3.2, all of the other code changes can go into 1.5.0? Or will anything need

[2022-06-17 18:21] rturner3 commented on #2700
Hey @dennisgove , that is a great question. Yes, I think we will also want to remove the old `default_svid_ttl` Server configuration parameter in v1.6.0. And yes, assuming the DB changes make it into v1.3.2., all the other code changes can go into v1.5.0.

[2022-06-19 16:54] SebRi commented on #3110
@ end entity subject DNs unique across CAs:

This is a requirement given by the root CA under which we evaluate SPIRE.

@ subject pattern:

I was refering to the following two cases:

Case #1: CA subject without CN
- sample CA subject: O=SPIRE,C=US
- sample end entity subject: CN=spiffe://example.com/123,O=SPIRE,C=US

Case #2: CA subject with CN
- sample CA subject: CN=MyCaName,O=SPIRE,C=US
- samp

[2022-06-21 00:23] sys0613 opened #3176 "in docker-compose tutorial，where the cert from??"
use spire-tutorials-main\docker-compose\nested-spire\scripts\gencerts.go
I can generate
one root-server cert
two cert for root-agent

but ,I don't know ,how to generate nestedA-server cert and nestedA-agent cert
and so on nestedB-server cert and nestedB-agent cert,
I use command,"./gencerts ../root/server ../root/agent ../nestedA/agent ../nestedB/agent"

[2022-06-21 01:13] hiyosi opened #3177 ""connection reset by peer, received prior goaway: code: NO_ERROR" sometimes occur in agents"
* **Version**: 1.3.0
* **Platform**:  Linux x86_64
* **Subsystem**: agent

https://spiffe.slack.com/archives/C7XDP01HB/p1655716118861989

SPIRE Agents sometimes log `received prior goaway: code: NO_ERROR`
I can only see this error log when fetching bundles in my environment.

[code]

In my envionment, there is no L7 Proxy, only L4 LoadBalancer.

[code]

[2022-06-21 08:45] hiyosi opened #3178 "External plugins exit with errors"
* **Version**: 1.3.0
* **Platform**: Linux x86_64
* **Subsystem**: external plugins

In my system which uses external plugins in both server and agent.
When shutting down the process, error messages are logged.

I found out that log level of a message in the plugin code has been changed from go-plugin@v1.4.4.

https://github.com/hashicorp/go-plugin/blob/v1.4.4/client.go#L638-L645
https://github.co

[2022-06-21 14:11] MarcosDY commented on #3176
you will need to call gencert 3 time:
- create [root](https://github.com/spiffe/spire-tutorials/blob/main/docker-compose/nested-spire/scripts/set-env.sh#L66)
- create [NestedA](https://github.com/spiffe/spire-tutorials/blob/main/docker-compose/nested-spire/scripts/set-env.sh#L103)
- create [NestedB](https://github.com/spiffe/spire-tutorials/blob/main/docker-compose/nested-spire/scripts/set-env.sh#

[2022-06-21 16:34] patricka3125 opened #3179 "Performance Issue with excessive Get Bundle Requests"
* **Version**:  N/A
* **Platform**:  N/A
* **Subsystem**:  server

Hello,

We observed some performance issues during failover testing when spire server received a large number of GetBundle requests. The performance hit comes from an excessive amount of pulls from the underlying datastore to fetch the trust bundle. I was wondering what the community's opinion is, or whether this discussion has bee

[2022-06-21 22:19] faisal-memon commented on #3092
Was able to reproduce this. The container ID is not getting populated in the pod container status while it is in the initializing state. Maybe the init container is different?

[2022-06-21 23:43] sys0613 commented on #3176
@MarcosDY Thank You very much .I will hava a try .
I also have a other question,please help me
the problem is found in https://spiffe.io/docs/latest/architecture/nested/readme/
.I also can not fint the "/opt/spire/conf/agent/bootstrap.crt".how can I get bootstrap.crt for root-agent,nestedA-agent and nestedB-agent,thanks.where them from ??

[2022-06-22 19:35] #3121 closed

[2022-06-23 00:14] sys0613 commented on #3176
Thank you very much for your help.All the problems have been solved. I will review the doc,thanks.

[2022-06-23 00:14] #3176 closed

[2022-06-23 09:50] goergch opened #3183 "Incompatibility WorkloadAttestation k8s and Kubeedge k8s"
We have a kubernetes cluster, which includes nodes, that are connected via kubeedge (https://kubeedge.io/) and run cri-o. In this system we are using spire and also the kubeedge nodes run spire agents.

Sadly the workloadattestor k8s was incompatible with our system, but we managed to patch it temporarily with spire v1.0.0.
The problem is that `/proc/{PID}/cgroup` looks different on our system, th

[2022-06-23 11:38] tanjunchen commented on #3092
@faisal-memon  @rturner3  how is it?

[2022-06-23 15:56] sjberman opened #3184 "SpiffeID CRD dnsNames no longer populated in SAN"
After updating from 1.3.0 to 1.3.1, I'm seeing that the dnsNames defined in a workload's SpiffeID CRD are no longer being populated in the certificate's `X509v3 Subject Alternative Name`.

SpiffeID CRD:

[code]

SAN when running with 1.3.0:

[code]

SAN when running with 1.3.1:

[code]

[2022-06-23 20:14] azdagron commented on #3184
Hey @faisal-memon, would you be willing to take a look here?

[2022-06-23 20:16] faisal-memon commented on #3184
@azdagron yes, please assign it to me

[2022-06-23 20:59] rturner3 commented on #3161
If there are network partitions between database replicas that are causing data inconsistencies, there are many things that may go wrong - e.g. missing X.509 CAs in trust bundle, inconsistent entry sets, etc.

I don't think there is anything we can do to reliably address this class of failure modes within SPIRE itself. Reattempting a write operation when there is a network partition between a repl

[2022-06-23 22:30] azdagron commented on #3183
Hmm, that's interesting. I don't know much experience with either crio or kubeedge. If there were a way to influence cgroup structure that would be ideal.

However, that being said, the extraction of the pod uid is currently to short-circuit searching through unrelated pods for the  container running the workload process. I think we could probably support this kind of setup by doing the following:

[2022-06-23 22:44] faisal-memon commented on #3092
How is it different than init container? Im not sure, just guessing that init container populates container id sooner to explain the difference with what @azdagron observed. There are two ways to resolve this issue:
1. Change Kubernetes to populate container id sooner
2. Remove container id check from SPIRE

Im exploring option 1 right now.

[2022-06-24 02:34] amartinezfayo commented on #3179
This caching functionality is only leveraged by the agent authorization checks, calls to the GetBundle RPC do not use the cache.

Since we haven't seen this kind of problem even in large deployments, there is a possibility that you are seeing this because of the way that the database deployment is configured.

It would be great if you can share some more details that would help to figure out what

[2022-06-24 04:02] hiyosi commented on #3177
I can see the error with agent version `1.2.3` .

[2022-06-24 05:22] hiyosi commented on #3178
If I understand correctly,  the go-plugin does not handle SIGTERM, so the plugin server exit abnormally with Terminated status and the plugin client receive an error.

They only handles os.Interrupt.
https://github.com/hashicorp/go-plugin/blob/v1.4.4/server.go#L432

[2022-06-24 06:26] hiyosi commented on #3178
Should this issue be closed?

[2022-06-24 18:54] azdagron commented on #3110
Agent's don't mint certificates, only the server. The agent generates a private key and generates a CSR that only contains the public key. Everything else about the certificate is determined by the server, based on the registration entry. A theoretical service side plugin could be fed all the information about the workload the SVID is being minted for.

[2022-06-24 19:05] hiyosi commented on #3178
@azdagron

I see.
I wondered how SIGTERM propagated to the child processes.

I finally found out that the problem is with the systemd configuration that manages the process.

The systemd is able to configure kill behavior(`KillMode`) and it default `control-group`.
When I set `KillMode=process`, the error is not occurred.

[2022-06-24 19:28] azdagron commented on #3178
That makes sense! I have considered if we should keep the logging. While I agree that its a little verbose, I hesitate to remove any logging there that might compromise a debug situation. The `error` logging can certainly be problematic, since it can trigger alerts, but the debug logging seems useful. What do you think?

[2022-06-24 19:39] hiyosi commented on #3178
That's right.
I have found that it is possible to suppress the error, so I'm going to close this issue.

[2022-06-24 19:40] #3178 closed

[2022-06-24 19:59] yueqiao1 commented on #3161
Yes, we are going to add monitoring to detect this type of problem. But what makes us struggle is how to ensure the restored trust bundle contains all previously valid pub keys. We observed that some public keys are missing after our SRE fixed the database issue. But in the meanwhile, our clients are using tokens signed by the corresponding private keys, and they are supposed to be refreshed after

[2022-06-24 20:10] amartinezfayo opened #3188 "Windows support: directories for UDS endpoints are created"
On posix platforms, we create directories for Unix Domain Sockets endpoints.
In case of Windows, named pipes are used instead of Unix Domain Sockets, but we still create the directories.
Prevent the creation of those directories on Windows.

[2022-06-24 20:45] amartinezfayo opened #3189 "Windows support: review permissions in directories and files created"
SPIRE creates some directories that store sensitive data, with certain permissions to restrict access (e.g. agent and server data directories).
On Windows, those directories are created with the [CreateDirectory function](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-createdirectory) using a NULL security descriptor. As a result, the directory gets a default security descri

[2022-06-27 16:51] MarcosDY opened #3190 "Windows support: update k8s workload attestor to support windows"
Update k8s workload attestor to support processes running on windows containers

* **Platform**: windows
* **Subsystem**: k8s workload attestor

[2022-06-28 01:26] rturner3 opened #3193 "k8s WorkloadAttestor plugin does not support anonymous authentication to secure kubelet port"
When configuring SPIRE Agent to reach the kubelet over the secure port by setting `kubelet_secure_port`, the k8s WorkloadAttestor plugin requires usage of either an X.509 client certificate or a service account token in order to authenticate with the kubelet.

However, the kubelet also supports anonymous authentication over the secure port. Ideally the plugin should be able to support deployments

[2022-06-28 04:24] Kathiresan-durairaj opened #3194 "KMS plugin for GCP"
Currently spire configuration supports storing the certificates/tokens in AWS KMS service. we would like to have a plugin with GCP KMS service since the workloads will be deployed/migrated to GCP environment.

Spire version used in the current aws environment 0.12

[2022-06-28 13:48] azdagron commented on #3193
The agent needs get access to the nodes/pods via the kubelet as proxy. Typically this role is granted to the service account the agent is running under (and then granted to the agent when it presents the SA token).

How does the requisite RBAC work in this kind of deployment? Does the kubelet allow unauthenticated users access to the pod list?

[2022-06-28 13:55] azdagron commented on #3177
Do you know if the agent was running the entire time? That would help isolate the frequency of this event occurring.

[2022-06-28 14:21] amartinezfayo commented on #3194
Thank you @Kathiresan-durairaj for opening this issue!
We have been having requests to also support the Google Cloud Key Management Service in addition to the AWS Key Management Service.
This is definitely something that we would like to have support in SPIRE, and we hope that we can have an update about this soon.

[2022-06-28 23:44] hiyosi commented on #3177
Yes, the agent running the entire time.

[2022-06-29 02:16] rturner3 commented on #3193
I'll try to offer some context behind this request, while acknowledging that it is in some ways a non-traditional use case.

Consider a Day 0 migration of a large set of services running on a private cloud that were previously managed by another orchestration platform to being managed by a self-hosted Kubernetes deployment. In this scenario, SPIRE Agent is not deployed by Kubernetes, but through a

[2022-06-29 13:53] sebastianGit commented on #3110
Hi @azdagron ,

As interoperability with other (potentially legacy) applications was mentioned above a couple of times, I like to share the following OSS-based use case that I came recently across when looking at tooling from the CNCF landscape.

The use case would be to use SPIRE-issued client certificates in TLS-based client authentication when requesting OAuth access tokens from Keycloak using

[2022-06-29 16:55] amartinezfayo opened #3198 "Windows support: leverage the support of Named Pipes in gRPC target strings in go-spiffe"
go-spiffe now supports Named Pipes in gRPC target strings, since v2.1.1.
This can simplify the current usage of named pipes in SPIRE through the go-spiffe library.

[2022-06-29 19:08] amartinezfayo opened #3199 "Improve the test coverage of the `spire-server run` and `spire-agent run` commands"
Current tests don't cover the `Run` function (in the server and in the agent) that runs the server and the agent.
There are things like endpoints preparation (create / not create directories depending on the transport) that are not currently tested and should be tested.

[2022-06-29 21:44] azdagron opened #3200 "Consolidate agent storage into JSON file"
As discussed in #3031, SPIRE agent is growing some additional storage needs. Some of the items to store are related and should ideally be updated at the same time.

One way to do this is to have them stored in the same file and updated atomically.

This issue tracks changes to the agent that migrate the existing files into a single JSON file, namely:

- `agent_svid.der` - the agent SVID
- `bundle.

[2022-06-30 03:45] elinesterov commented on #3093
Slack messages will be autoremoved soon. I just found that awesome conversation so it is better to save a copy there before it will be removed by slack.

[2022-06-30 07:58] chdalski opened #3205 "Feature request: Log SVID on note attestation failure in AWS_IID"
When trying to attest a node with the aws_iid node-attesator after it was already attested once the attesation fails as described.
However it would be nice if the error message could contain the SVID in order to allow manual intervention.
This might also help to pinpoint the instance in question if it's possibly compromised.
https://github.com/spiffe/spire/blob/45a900c0eab1069c5500ec795c04937dbadd

[2022-06-30 19:19] amartinezfayo commented on #3093
This is somewhat related to #997.

[2022-06-30 19:38] amartinezfayo opened #3210 "Release SPIRE 1.3.2"
Candidate commit: https://github.com/spiffe/spire/commit/7ea53c4cac46fbc99edcf26efc369bcc273bb60b
Release date: July 8th, 2022.

[2022-06-30 20:22] amartinezfayo commented on #3205
Thank you @chdalski for opening this issue. We have discussed it in today's maintainer's sync and we think that logging which agent (identified by the agent SPIFFE ID) failed a TOFU check would be a good thing to have.

Thanks @azdagron for addressing this so quickly (#3211)!

[2022-06-30 20:53] azdagron commented on #3177
I'm not quite sure what is happening but it sounds like an issue in grpc-go working with the L4 load balancer. It might be difficult considering how sporadic it happens, but maybe we can collect details grpc logs?

https://github.com/grpc/grpc/blob/master/TROUBLESHOOTING.md

[2022-06-30 21:00] azdagron commented on #3110
That's a good use case! I do agree that providing some flexibility here is important.  We've discussed this a bit during our contributor and maintainer calls. We haven't quite come to consensus on the approach but will work on having a more concrete direction by the end of next week.

[2022-06-30 21:49] azdagron commented on #3193
Thanks for providing that use case, @rturner3. I agree that providing this feature doesn't weaken the security SPIRE provides, since turning on this feature should typically result in _less_ privileges with the kubelet, not more.

My first thought was, "if this is a temporary fix to bootstrap deployment, maybe they could just fork the k8s plugin and use that fork in the short term until everything

[2022-07-01 06:15] hiyosi commented on #3177
Thank you.
I'll collect additional logs.

[2022-07-01 10:35] chdalski commented on #3205
I'm the one that needs to thank you @amartinezfayo for your fast response to my request :1st_place_medal:

[2022-07-01 16:22] azdagron opened #3214 "Data race in agent manager unit tests"
The following data race was discovered by the race tests running in GH:

[code]

[2022-07-01 17:11] #3205 closed

[2022-07-01 17:17] azdagron commented on #3184
@sjberman, I don't see any code changes to the registrar between 1.3.0 and 1.3.1.

Do you happen to have the registrar and spire server logs?

[2022-07-01 17:52] azdagron commented on #3184
Ok, nevermind. This was impacted by a change to SPIRE core. Hoping to have a fix shortly. We'll include it in 1.3.2, which will be releasing in a week or so.

[2022-07-01 19:15] azdagron opened #3216 "Flaky unit test in the k8s-workload-registrar"
Encountered the following test failure running the race tests in CI/CD on GH:

[code]

[2022-07-01 20:28] #3184 closed

[2022-07-01 20:29] azdagron commented on #3184
Fix has been merged into main. This was a much more insidious bug that first suspected. Thank you so much for discovering and reporting this, @sjberman!

[2022-07-04 03:35] bnevis-i opened #3217 "panic: runtime error: invalid memory address or nil pointer dereference"
Not sure yet what configuration is causing this crash.  Will update when figure it out.

[code]

* **Version**: 1.3.1 (from gcr.io)
* **Platform**: Linux
* **Subsystem**: server

[2022-07-04 12:23] amartinezfayo commented on #3217
Thank you @bnevis-i for reporting this.
We have identified this bug in 1.3.1, which caused a panic if there was a plugin configuration error in the server.
This has been addressed in #3166, which has been merged in the main branch and will be included in the next SPIRE release. Please feel free to reopen this issue if you don't see it fixed in the upcoming release.

[2022-07-04 12:23] #3217 closed

[2022-07-06 06:28] IvMdlc opened #3226 "Agent using different Workload key types"
Hi, one thing I noticed while trialing SPIRE is that the agent only issues Workloads SVIDs with EC P256. I think it would be great if this was customizable to be able to set other key types e.g. RSA.

Thanks

[2022-07-06 18:44] yueqiao1 commented on #3161
@rturner3 forced key rotation seems to be promising. About saving the signing keys in the database, I am not sure whether it can help here as the key problem is that the database itself may not be trustworthy. And yes, this type of incident did happen several times in the past 2 months.

We've added the requested feature support in our own fork. We may consider removing it to keep consistent with

[2022-07-07 14:48] amartinezfayo commented on #3193
Thank you @rturner3 and @azdagron for the thoughts on this.
I think that having a `use_anonymous_authentication` configurable would be OK if it is accompanied with clear documentation about when this setting is suitable to use. My main concern is around somebody using this as a shortcut when they could chose other authentication options.

[2022-07-07 18:53] azdagron commented on #3226
Would an per-agent setting by sufficient for your use cases or would you need finer granularity (e.g. per workload)?

[2022-07-07 19:11] azdagron commented on #3179
Hi @patricka3125! Can you share additional insight into the questions @amartinezfayo posed above? Thanks!

[2022-07-07 19:13] azdagron commented on #3161
I'll go ahead and close this for now. Hopefully we get some cycles to move the forced revocation and rotation feature forward soon.

[2022-07-07 19:13] #3161 closed

[2022-07-07 20:14] amartinezfayo opened #3229 "Flaky unit test in spire/pkg/agent/endpoints/sdsv3: TestStreamSecrets"
[code]

[2022-07-08 05:20] hiyosi commented on #3177
So far, I founded the error on v1.2.0, v1.2.1, v1.3.0 environments.

I wonder the error always occur between fetchEntries() and fetchBundles() in agent.
And I have not been able to isolate whether it is a network problem or an application problem.

Following logs are captured on v1.2.0.

- `13:22:36`:  received GOAWAY, `connection reset by peer, received prior goaway: code: NO_ERROR` was occurred.

[2022-07-08 17:22] azdagron commented on #2459
This is available at https://github.com/spiffe/spiffe-csi.

[2022-07-08 17:22] #2459 closed

[2022-07-08 17:31] azdagron commented on #2141
This issue was completed some time ago (#2467 for the API, #2478 for CLI).

[2022-07-08 17:31] #2141 closed

[2022-07-08 20:03] azdagron commented on #3210
Released as expected today.

[2022-07-08 20:03] #3210 closed

[2022-07-09 00:33] blaggacao commented on #2808
The problem is that it is hard to handle lists in config management as list items aren't stably identified (only by a mutating index).

[2022-07-14 02:00] loveyana opened #3252 "Some questions about spire federation"
* **Version**: 1.3.0
* **Platform**: Linux n249-128-131 5.4.56.bsk.9-amd64 #5.4.56.bsk.9 SMP Debian 5.4.56.bsk.9 Wed Aug 25 03:42:38 UTC 20 x86_64 GNU/Linux
* **Subsystem**: server federation

I have encountered the following two questions, and I want to meet this need through federation, but it is not currently satisfied, and I would like to ask for comments.

1. In the current trust domain, we h

[2022-07-14 13:22] sebastianGit commented on #3110
@azdagron : how is the topic proceeding? could you share some news?

[2022-07-14 17:08] azdagron commented on #3110
Thanks for checking in, @sebastianGit! We've kept this issue in discussion over the last few weeks. Right now we are evaluating the various fields in the X509-SVID to understand which of these might be valuable to allow operator customization on. If there are many strong uses cases, then the plugin approach will likely win out. Otherwise we might settle for a configurable (either global, or per-en

[2022-07-14 17:09] azdagron commented on #3110
In either case, we will fix the RFC non-compliance.

[2022-07-14 17:14] azdagron opened #3253 "Consider a new SVID field customization plugin"
There have been some requests to allow X509-SVID or JWT-SVID field customization. One way in which this might be achieved is by creating a new plugin type that would get a chance to modify the SVID before it was minted. Other solutions could allow for targeted customization of individual fields (i.e. X509-SVID Subject), but would not easily accommodate a wide variety of fields that might need cust

[2022-07-14 17:32] azdagron commented on #3253
I dug into X.509 certificate related fields. I think the following fields could have reasonable use cases for customization. I probably missed some:

1. Subject
    Customization of the subject can be required in some instances when interfacing with legacy software that does not know how to pull the identity from the URI SAN, or when there are other requirements for visibility and auditing. See #3

[2022-07-14 17:34] azdagron commented on #3110
I've opened #3253 to track the discussion on the plugin. Happy to have your thoughts over there!

[2022-07-15 07:55] sebastianGit commented on #3110
Let me focus on the subject field here (I'll follow up on other fields as proposed in https://github.com/spiffe/spire/issues/3253)

For the subject field of agent and workload certificates global templating would work e.g. see initial proposal by @georgi-lozev above.

Support of "organizational unit" (in addition to "organization" and "country") as RDN in the subject of agents, workloads and CA ce

[2022-07-15 15:32] azdagron commented on #3110
Would replicating these fields from the subject of the CA, which is already customizable (via the `ca_subject`) configurable, be sufficient?

[2022-07-15 23:24] rturner3 opened #3256 "Agent Debug GetInfo method returns only count of cached X.509-SVIDs in svids_count field"
[Agent Debug GetInfo API definition](https://github.com/spiffe/spire-api-sdk/blob/27e2edf0882bd5ad3aaaa51f986dd53748772bdf/proto/spire/api/agent/debug/v1/debug.proto#L29-L30)

The comment for the response field `svids_count` says:
[code]

There is no specificity in the API documentation about what types of cached SVIDs are included in this count.

The SPIRE implementation of the Debug GetInfo meth

[2022-07-18 14:27] MarcosDY commented on #3256
I agree with option `3` looks like the more natural and useful solution

[2022-07-18 16:24] azdagron commented on #2919
Addressed by #3235

[2022-07-18 16:24] #2919 closed

[2022-07-18 22:53] howardjohn commented on #3229
Hello from Istio... ran into this googling an error message in our test failure -- also in an SDS test, although it seems more likely a grpc issue (library, or usage of) than something sds-specific. I'll update if we root cause

[2022-07-18 23:28] hiyosi commented on #3177
I need some time to prepare this environment. I will report the results shortly.

----

Additional info.
I changed the sync_interval of the agent, but the error occurs at the same point.

[2022-07-19 18:09] azdagron commented on #3179
Closing for now due to inactivity.

[2022-07-19 18:09] #3179 closed

[2022-07-19 18:13] azdagron commented on #3252
1. If I understand correctly, you want to build a service that UpstreamAuthority plugins can publish JWT authorities too for all SPIRE servers in your cluster?

2. What would be the advantage of configuring multiple endpoints v.s. using some sort of load balancer or DNS round robin in front of the endpoints? Would the latter be sufficient?

[2022-07-19 20:58] azdagron opened #3261 "Improve support for ECS workloads"
This issue tracks a discussion on how to provide improved support for workloads running in ECS or similar environments. Due to the auto-scaling nature of these types of environments, current node attestation methods fall short in providing unique identities to the agents running in these workloads.

A previous discussion has been had regarding an IAM node attestor and the maybe a credential exchan

[2022-07-19 22:15] IvMdlc commented on #3226
Thank you @MarcosDY @azdagron for this change (and the rather quick turnaround).

[2022-07-19 22:38] #3200 closed

[2022-07-19 23:31] colek42 opened #3262 "Enhance K8s workload attestor with content-addressable selectors."
Kubernetes does not currently reflect the content-addressable [`image_id` ](https://github.com/opencontainers/image-spec/blob/main/config.md#imageid)as defined in the OCI spec in a constant manner.  It does, however, reflect the manifest digest.

Binding artifact identity to the [`image_id`](https://github.com/opencontainers/image-spec/blob/main/config.md#imageid) will allow users to make images p

[2022-07-21 19:44] MarcosDY opened #3268 "Server api errors no longer provides error details"
Server APIs used to send details on GRPC Status with reason of failures in case of permission denied.
But  there was a regression and Agent is no longer getting signals to reattest when required

[2022-07-22 15:30] amoore877 commented on #3253
I agree that some additional customizations could be helpful in a variety of cases, but I am curious on more details for:

Specifically my first go-to might've been further tags for registration entries in the DB that could be smartly interpreted when minting X509 or JWT. For instance, today we have the CN/DNS configuration there.

Is the concern DB load, some of those fields would be common acros

[2022-07-22 17:19] azdagron commented on #3253
Thanks for adding your thoughts here, @amoore877!

We discussed this at length as we (maintainers) ourselves weren't totally settled on whether or not a 1) plugin, 2) a configurable, or additional fields on the registration entry would be more appropriate.

Here are some of the things we discussed:

### Registration Entry

#### PROS
- Simple determination since the customized field can be fixed va

[2022-07-22 17:43] amoore877 commented on #3253
this isn't necessarily true I think, depending on how loose we might allow definitions to be. For instance, we could mimic how `selector` works and just have it be fairly arbitrary key-values, where the `key` is will have some meaning for SVIDs, like an `ocsp` or `SAN` or `keyUsage` key. This would also then be extensible as the business logic handles what the keys mean while the DB just needs a s

[2022-07-22 17:55] azdagron commented on #3253
I'm not sure I follow here. Can you give an example?

[2022-07-22 18:14] amoore877 commented on #3253
So if some operators want to alter what the plugin itself is doing for their customizations of SVIDs, they either need a code change of the plugin's implementation or (if possible) a config change of it. This means deploying a new binary of the plugin (or the SPIRE deployment itself, depending on build packaging).

This could be mitigated if the plugin is referencing some other dynamic source for

[2022-07-23 19:33] #3190 closed

[2022-07-25 23:44] rturner3 commented on #2360
We have addressed this with the adoption of dependabot in the project.

[2022-07-25 23:44] #2360 closed

[2022-07-26 20:34] rturner3 opened #3275 "Flaky sdsv3 test TestStreamSecrets/Default_All_bundles:_RootCA"
[code]
Encountered in a CI run unrelated to Envoy: https://github.com/spiffe/spire/runs/7527694088?check_suite_focus=true

[2022-07-26 21:43] rturner3 opened #3276 "Flaky TestListenAndServe Server endpoints unit test on Windows"
[code]

CI run where test failed: https://github.com/spiffe/spire/runs/7528784508?check_suite_focus=true

[2022-07-27 23:11] amartinezfayo commented on #3189
Since #3227 introduces more restrictive permissions in agent and server data directories (granting access to the owner only), I would like to collect some feedback to know if this could cause any problem.
Thinking about community members with interest in Windows support, I thought that maybe @nweedon-u could chime in here. @nweedon-u do you see any problem with this change? Thanks!

[2022-07-28 14:14] MarcosDY opened #3278 "Banned agent keep alive"
When a SPIRE Agent is banned, it stops getting SVIDs and entries updates, but that agent keeps alive.

That means that it will be able to attest workloads and provided SVIDs it has on cache,
and a workload may get compromised SVIDs or any reason an admin decides to ban that agent.
In case a banned agent is trying to reattest, it is  not allowed and the agent fails to start.

In case of evict (dele

[2022-07-28 19:07] rturner3 commented on #3275
This is related to #3229. It appears to be an issue that can happen with any of the unit tests in `pkg/agent/endpoints/sdsv3` and is caused by a bug in grpc-go: https://github.com/grpc/grpc-go/issues/5511

[2022-07-29 08:33] nweedon-u commented on #3189
Thanks for contacting me @amartinezfayo - I've inspected the change and nothing in there stands out to me as an issue, however, it would be great if there is a build available so I can quickly deploy it on a few of our Windows machines.

If you could please point me to a build and also detail the spire-server version requirement for the build, I can verify the change for you next week.

Thanks!

[2022-07-29 15:38] dennisgove opened #3282 "Remote admin authorization mechanisms for the SPIRE server"
### Summary

This ticket proposes enhancements to the authorization logic in the SPIRE server to support administration actions from a multitude of actor types, including people. It extends on #1975 and #2099 to describe how alternatively authenticated actors can be privileged to perform various administrative actions based on their identity and location (remote vs local). The design described her

[2022-07-29 16:02] #3276 closed

[2022-07-29 16:24] amartinezfayo commented on #3189
Thank you @nweedon-u, that would be great!
I've created a test build from my fork that you can use for testing: https://github.com/amartinezfayo/spire/releases/download/v1.4.0/spire-1.4.0-windows-x86_64.zip
I really appreciate your help.

[2022-07-29 18:44] rturner3 opened #3285 "Upgrade to google.golang.org/protobuf 1.28.1 breaks unit test assertions"
Upgrading from [google.golang.org/protobuf](http://google.golang.org/protobuf) 1.28.0 to 1.28.1 and results in some unit test failures. Something in this latest version of protobuf breaks some of the assertions in our code for types that embed protobuf messages as fields.

Example: [these assertions](https://github.com/spiffe/spire/blob/3e56c0120cff69f53e202e6fb858a60ef7cd514c/pkg/agent/manager/st

[2022-08-01 05:46] goergch commented on #3183
Issue is fixed by #3242
The issue is rather kubeedge than cri-o,

[2022-08-01 05:46] #3183 closed

[2022-08-01 13:55] #3268 closed

[2022-08-01 19:59] azdagron commented on #1127
Done with #3272. Another issue will be opened to remove the deprecated plugin and interface in 1.5.0.

[2022-08-01 19:59] #1127 closed

[2022-08-01 20:00] azdagron opened #3291 "Remove deprecated NodeResolver plugins and interface"
#3272 deprecated the (only) node resolver plugins and interface.

This issue tracks removal of the plugins and interface in SPIRE 1.5.0.

[2022-08-02 06:45] radoslav-tomov commented on #3253
Right now I would really appreciate the ability to configure custom extensions. Our PKI folks insist on setting certificatePolicies (OID 2.5.29.32) .

[2022-08-02 14:03] sebastianGit commented on #3253
An additional aspect of customization w.r.t. to the CSR for certificates of workloads and agents would be the capability to decide based on the used key material (algorithm and key length) whether a CSR is acceptable.

The requirement behind is to be able to ensure that the key material for certificates issued by SPIRE can be restricted by algorithm (e.g., RSA only, e.g. selected ECC curves only)

[2022-08-02 16:29] nweedon-u commented on #3189
Thanks! I will test against a v1.3.x installation later this week.

[2022-08-02 16:40] MarcosDY opened #3302 "Release SPIRE 1.4"
Candidate commit: [9d7a8ab](https://github.com/spiffe/spire/commit/9d7a8ab7aab9adfccad9d7cebd112778c9c5c0af)
Release date: August 8th, 2022.

[2022-08-02 19:29] MarcosDY commented on #3278
The consensus was shutdown a "banned" agent, and add a log why agent stop working

[2022-08-02 21:30] azdagron commented on #3252
Just checking in to see if you got what you needed here, @loveyana. If so, can we close this issue?

[2022-08-02 21:31] azdagron commented on #3177
Any updates here, @hiyosi ?

[2022-08-02 21:44] azdagron commented on #3253
Hmm, that is interesting @sebastianGit. Agent CSRs are only used to convey the public key. All other fields are ignored, so as of right now agents don't get to choose the signature algorithm directly. SPIRE server uses the default signature algorithm for the key type + strength that the Go x509 package chooses.

[2022-08-03 10:16] sebastianGit commented on #3253
@azdagron :  My use case is that I'm asked to make on the server-side the decision whether the agent's/workload's key material that is presented in a CSR is compliant with requirements that only selected types of key material must be supported using an explicit allow list. E.g., the server must ensure that it only issues certificates to agent's/workload's with public keys for 'RSA using 2048 bits'

[2022-08-03 14:08] azdagron commented on #3253
@sebastianGit, yes that makes sense.

@amoore877 the quick reactivity of an entry based approach is pretty attractive. We've been pretty hesitant to open up the entry as a bucket for arbitrary key/values though.

We've discussed this quite a bit and I think the maintainers are leaning towards the plugin approach. That approach doesn't preclude us from doing something with the entry in the future.

[2022-08-03 16:46] #3285 closed

[2022-08-04 01:49] hiyosi commented on #3177
sorry, It's still going to take some time.

[2022-08-04 13:47] nweedon-u commented on #3189
Hey @amartinezfayo, I've tested your build on Windows Server 2012 and Windows Server 2019 and I can't see any problems - the agents seem to connect fine to our spire-server instances and the directories get populated with the expected data.

Thanks!

[2022-08-04 16:48] azdagron commented on #3177
No worries!

[2022-08-04 17:59] mrsabath commented on #2652
We have several Helm charts available for setting up SPIRE and Tornjak Server, as well as SPIRE agents, including steps for multi-cloud deployments.
They support OpenShift, Kind, Minikube and deployments on some of the major cloud providers.

The charts are publicly available here: https://github.com/IBM/trusted-service-identity/blob/main/docs/README.md
We would be happy to adapt them to general u

[2022-08-04 19:26] amartinezfayo commented on #3189
Thank you very much for taking the time to test this, @nweedon-u!

[2022-08-04 21:08] kfox1111 commented on #2652
Should we get a meeting going at some point to discuss how to move this forward?

[2022-08-06 14:57] tanjunchen commented on #3092
@faisal-memon  hello, I see the above  issue for kubernetes Pod  Pid。
It seems that it is not easy to change k8s api recently.
Maybe We can consider the solution 2,and then upgrade to the 1st solution when the k8s api allow this function?ok?

[2022-08-08 20:58] #3278 closed

[2022-08-09 16:21] alexdotsh opened #3325 "workload is not authorized for the requested identities"
after following the spire guide https://istio.io/latest/docs/ops/integrations/spire/ to install SPIFFE I'm getting the following error on my ingress-gateway

[code]

BTW, I'm using a self signed certificates on my ingress-gateway

Is there something I'm missing or do I need to register those worklods? Any guidance would be appreciated

[2022-08-09 16:37] maxlambrecht commented on #3325
Why are you using self signed certificates? You are trying to make the ingress-gateway get its certificates from SPIRE, right?

Yes, you need to register the workload; in the guide there's an example for the ingress workload. You need to also check that the SPIRE agent socket is mounted in the ingress pod.

[2022-08-09 16:48] azdagron commented on #3325
Those SDS resource names ("file-root:/etc/istio/shared/certs/cert-chain.pem" and ""file-cert:/etc/istio/ingress-gateway/certs/tls.crt~/etc/istio/ingress-gateway/certs/tls.key") also look abnormal. SPIRE is expecting either default resource names (i.e. "default" for the SVID, "ROOTCA" for the bundle) or specific SPIFFE IDs for those resources.

[2022-08-09 17:47] alexdotsh commented on #3325
I'm trying to setup a multi-mesh cluster between two cluster using eastwest gateways, and I been following https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/ to generate self signed certs for both my clusters using a root ca. I got the multimesh to work, however when I introduce spire on top, it just stops working and I start getting the above errors. The need to use SPIRE

[2022-08-09 18:35] azdagron commented on #3302
Released on Aug 8th.

[2022-08-09 18:35] #3302 closed

[2022-08-09 19:13] azdagron commented on #3092
IIRC, removing the container ID check is not tenable. We use that check to sharp shoot the correct container from the pod to generate accurate selectors for the workload. If we cannot identify the container in the pod, then attestation is weakened.

[2022-08-09 19:20] azdagron commented on #3252
Closing due to inaction. Please let us know if you still need some help here!

[2022-08-09 19:20] #3252 closed

[2022-08-10 21:43] rturner3 opened #3339 "Flaky test TestKeyManagerContract/GetKey/rsa-4096"
[code]

Build link: https://github.com/spiffe/spire/runs/7775372796?check_suite_focus=true

[2022-08-10 21:46] azdagron commented on #3339
Yeah this is an unfortunate consequence of that test actually generating a 4096 bit RSA key. This can take a while on resource constrained/shared environments like CI/CD. Enough that it is triggering a timeout. Not _quite_ sure what we should do here.

[2022-08-10 23:06] azdagron commented on #3262
I think we'd be open to providing the content-addressable image ID if it can be sourced consistently and cleanly. The last thing we want is something that is super touchy depending on the environment, like our determination of the pod/container ID of the workload by inspecting cgroups (which has been a bit nightmarish).

This seems like the only consistent source. I think the question here how har

[2022-08-10 23:09] azdagron commented on #3262
Would it be more appropriate to push for K8s to provide this more consistently?

[2022-08-11 19:42] amartinezfayo commented on #3282
Thank you @dennisgove for taking the time to make this proposal.
Looks like the support of alternative authentication mechanism would imply the support of authenticating with non SVID material, is that what is being contemplated here?

[2022-08-11 22:17] azdagron opened #3341 "Revamp X509-SVID Subject DN construction"
As pointed out in #3110, SPIRE is not RFC compliant in its issuance of X509-SVIDs. The requirement of the RFC is that the Subject DN be unique to each entity, but currently it is static for all X509-SVIDs. Further, the Subject DN does does not reflect other customizations that have been done to the Issuer (i.e. SPIRE Server CA) DN.

This issue tracks the work to bring the server into RFC conforman

[2022-08-11 22:19] azdagron commented on #3110
I've opened #3341 to track this work (there is one outstanding question to be answered). Thanks for opening this issue and the great discussion everybody.

#3253 will continue to track the work for introducing a pluggable interface around the customization of these fields.

[2022-08-12 14:56] azdagron commented on #3341
If we really feel like we need a cryptographic hash function (I'm not yet convinced we do), then we might be able to have our cake and eat it too using a 64-bit or 128-bit blake2 hash.

[2022-08-12 21:17] rturner3 commented on #3253
Another use case I can imagine for something like this is to customize the Subject of an Agent X.509-SVID such that it can be used as a client certificate to the kubelet in the k8s WorkloadAttestor plugin. This would greatly reduce friction in managing kubelet client credentials for cases where the agent needs to talk to the kubelet but is not deployed by Kubernetes.

[2022-08-12 22:04] rturner3 commented on #3339
This test failure also looks related:
[code]

[2022-08-12 22:07] rturner3 opened #3351 "Flaky tests in github.com/spiffe/spire/cmd/spire-server/cli/bundle on Windows"
[code]

[Build link](https://github.com/spiffe/spire/runs/7812081042?check_suite_focus=true)

[2022-08-13 17:30] dennisgove commented on #3282
Hi @amartinezfayo - great question.

My goal is to support authorizing administrative actions from entities outside of this specific Trust Domain. For example, an application running somewhere else which is allowed to manage node/workload registrations and federation configuration across many Trust Domains. Existing OPA support gets us a lot of that ability. However, the current OPA support is lim

[2022-08-15 10:01] Celant commented on #3253
Off the back of the issue mentioned above, we'd love to see a default customization plugin shipped with SPIRE too. The plugin could allow for generic modification of SVIDs based on templates defined in the config. I feel like that would cover a lot of use-cases where trivial modifications are desired (i.e. adding a single static claim to SVIDs), and anything more niche could be implemented with a

[2022-08-15 21:17] azdagron commented on #3253
I've made a first pass at an interface definition here. https://github.com/spiffe/spire-plugin-sdk/pull/27

[2022-08-16 18:50] amartinezfayo commented on #3325
Looks like there could be a misconfiguration. @maxlambrecht could you help on this?

[2022-08-17 11:08] Falco20019 commented on #3076
This can be resolved once https://github.com/ghostunnel/ghostunnel/issues/366 is merged.

[2022-08-17 15:31] maxlambrecht commented on #3325
SPIRE is not a required piece in the multimesh setup, you can just do it with the deployment models from the istio docs. On the other hand, if you want to use SPIRE to leverage its attestation capabilities among other things, you can use it to achieve multi-mesh trust. You need to decide if you want to have one trust domain per cluster and federate them using SPIFFE Federation or use just one trus

[2022-08-17 15:39] evan2645 commented on #3325
I'm no Istio expert, but the docs you linked to, and the sample, both mention that SPIRE must be installed into the cluster prior to installing Istio.

[2022-08-18 17:14] azdagron commented on #3341
Since legacy systems may use the CN as an identifier, I think I've convinced myself we need ample collision resistance, even though attackers would be limited on the input domain.

Maybe SHA256 is just fine for this purpose even though it produces a pretty long identifier and increases the size of an SVID by ~64 bytes (hex encoded id + asn.1 encoding overhead). We could do something like a base64

[2022-08-18 17:30] azdagron commented on #3341
Base58 isn't so bad:
[code]

[2022-08-18 17:35] azdagron commented on #3341
Even better if we truncate the SHA256 hash to 128-bits (xor'ing the two halves, which AFAIK is ok according to NIST since sha256 has good diffusion properties):

[code]

At this point I might just be overcomplicating things :)

[2022-08-22 14:41] alitta-german opened #3365 "Spire agent crash (restart) during upgrade"
Sometimes during our product's upgrade, the spire-agent restarts with this error:
`time="2022-08-15T20:21:45Z" level=error msg="Agent crashed" error="create attestation client: failed to dial dns:///my-nsm-spire-server:8081: connection error: desc = \"transport: error while dialing: dial tcp 10.103.204.7:8081: connect: connection refused\""
`
Right after this happens, the restarted agent can start

[2022-08-22 17:59] azdagron commented on #3341
As a discussion, we landed on a hex encoding of the left most 128-bits of the SHA256 of the SPIFFE ID.

We also discussed the semantics of carrying over the CN from the CA and decided that it might be better just to drop the CN from the subject instead of moving to another arbitrary field.

[2022-08-23 19:08] rturner3 commented on #3325
@alexdotsh Does the information posted here resolve your issue?

[2022-08-23 20:41] alexdotsh commented on #3325
@maxlambrecht @rturner3 yes all this info helps great a lot. Thanks

[2022-08-23 20:41] #3325 closed

[2022-08-23 21:39] rturner3 commented on #3365
Hi @alitta-german, a few thoughts come to mind here:

It sounds like both your SPIRE Server and Agent pods are restarted around the same time (in this case an "upgrade" which is really the same version but using a different image tag)? Our [upgrade docs](https://github.com/spiffe/spire/blob/main/doc/upgrading.md#supported-upgrade-paths) mention that the Server upgrade needs to be completely finish

[2022-08-24 13:58] amartinezfayo commented on #3282
Thank you for your detailed response, @dennisgove. Authenticating with non SVID material would require deeper changes in SPIRE.
Adding support to authorize administrative actions from entities outside of the Trust Domain is something that IMO would be good to have in SPIRE to support certain use cases. But I personally have some concerns around the introduction of a remote OPA Server in the author

[2022-08-24 17:44] MarcosDY commented on #3275
[grpc/grpc-go/issues/5511](https://github.com/grpc/grpc-go/issues/5511) was released on [grpc/grpc-go/pull/5513](https://github.com/grpc/grpc-go/pull/5513) and released on grpc v1.49.0.

[2022-08-24 17:44] #3275 closed

[2022-08-24 17:44] MarcosDY commented on #3229
[grpc/grpc-go/issues/5511](https://github.com/grpc/grpc-go/issues/5511) was released on [grpc/grpc-go/pull/5513](https://github.com/grpc/grpc-go/pull/5513) and released on grpc v1.49.0.

[2022-08-24 17:44] #3229 closed

[2022-08-26 17:17] #1434 closed

[2022-08-26 17:17] #2203 closed

[2022-08-26 21:44] amartinezfayo commented on #3282
@dennisgove We discussed this proposal in the last maintainer's sync. Considering that the use of custom authorization policies with OPA is experimental in SPIRE, we feel that the introduction of support for remote OPA evaluation could be a little premature.
We think that supporting the authorization of administrative actions from foreign trust domains would be good to have in SPIRE, so we are ope

[2022-08-30 18:04] MarcosDY opened #3383 "Release SPIRE 1.4.2"
Candidate commit: [c1d488d](https://github.com/spiffe/spire/commit/c1d488d059927df4787046eab5ec672ab1c56723)
Release date: September 6th, 2022.

[2022-08-31 15:05] dennisgove commented on #3282
Thanks @amartinezfayo for letting me know. Enhancing the `admin_ids` configuration option to support foreign trust domains will help. It doesn't quite give us as a dynamic ACL flow as we'd like, but that's not a huge blocker.

In the meantime, I'm going to be using an admin proxy side-car that will have administrative access to the Trust Domain (via standard SPIRE mechanism). It will accept admin

[2022-08-31 17:35] erikgb opened #3386 "k8s-workload-registrar (feat): disable namespaces by regex"
* **Version**: 1.4.0
* **Platform**: Openshift
* **Subsystem**: k8s-workload-registrar

I am working with configuring the k8s-workload-registrar on Openshift, and I would prefer if the registrar did not touch any openshift namespaces at all - for the same reasons we exclude kube-system and kube-public by default. Excluding the namespaces is currently possible to achieve, but far from practical/use

[2022-09-01 03:23] ryysud commented on #1354
Hi @azdagron @evan2645, Is TODO in this issue to modify all commands of spire-server and spire-agent to use `cliprinter` package? Or only `spire-server agent list` and `spire-server entry show` commands?

[2022-09-01 18:54] rturner3 commented on #3365
Hey @alitta-german 👋 , just checking in to see if you were able to try any of the suggestions and if they work for you.

[2022-09-01 19:28] amartinezfayo opened #3400 "Enhance the `admin_ids` configuration option to support foreign trust"
The `admin_ids` configuration option allows to configure SPIFFE IDs that, when present in a caller's X509-SVID, grant that caller admin privileges. The admin IDs must reside in the same trust domain as the server.

There are some scenarios where this restriction to have the SPIFFE IDs in the same trust domain as the server is a limitation. #3282 provides context about legitimate scenarios where th

[2022-09-01 19:39] amartinezfayo commented on #3282
@dennisgove It's good to know that enhancing the `admin_ids` configuration option to support foreign trust domains will help to unblock you. I've created #3400 to track that work.

I'm closing this issue for now, as #3400 will be tracking the work to support foreign trust domains. Please feel free to re-open this issue if you think that more discussion is needed in this topic.

[2022-09-01 19:39] #3282 closed

[2022-09-01 20:26] rturner3 opened #3401 "Flaky test: TestManagerConfigPeriodicRefresh"
[code]

[Build link](https://github.com/spiffe/spire/runs/8143312825?check_suite_focus=true)

[2022-09-02 12:31] alitta-german commented on #3365
Hi @rturner3 , we discussed it in our team that non of these option are suitable for our product. But we've changed the upgrade base, so now it has also 2 SPIRE Servers and with this we have not seen spire-agent restarts since that during the upgrades.

[2022-09-06 19:08] evan2645 commented on #3365
Hey @alitta-german - sounds like you were able to resolve the issue. Apologies about the upgrade policy .. we're considering some improvements there as a result, but it will likely be some time before there's any movement there.

Going to go ahead and close this out since it sounds like you're ok for now. Please ping back if you continue to have trouble. Thanks for opening the issue!

[2022-09-06 19:08] #3365 closed

[2022-09-06 19:37] evan2645 commented on #3177
Thank you very much for reporting this issue @hiyosi . We discussed it again today on our contributor call ... the gRPC library has been recently updated in SPIRE - is there any way you can check with the latest code to see if the problem is still there? I thought maybe this would be easier than testing without the load balancer.

This sounds super likely when considering that SPIRE Server does no

[2022-09-07 05:27] hiyosi commented on #3177
I will do my best to report back to here within the next two weeks.

[2022-09-07 21:40] azdagron commented on #3383
Released today.

[2022-09-07 21:40] #3383 closed

[2022-09-08 01:43] ryysud commented on #2668
@evan2645 Is this issue fixed in https://github.com/spiffe/spire/pull/3395?

[2022-09-08 02:03] dennisgove commented on #2700
I'm making steady progress on the implementation of this support, but there are a lot of places that need updates (I'm finding). If curious you can view ongoing changes [here](https://github.com/dennisgove/spire/compare/main...jwt-ttl-2700).

[2022-09-08 13:30] divaspathak commented on #3386
Hello @erikgb, hope you are doing great. I want to work on this issue, can you please assign it to me?

[2022-09-08 18:41] evan2645 commented on #3386
Thanks so much for volunteering @divaspathak! I've just assigned you to the issue ❤️

[2022-09-09 16:42] divaspathak commented on #3386
Thank you so much @evan2645 for assigning me the issue. I'm super excited to get on with it.

[2022-09-11 04:28] vaibhavkoshti7 commented on #2432
hello @evan2645 . I want to work on this issue. Could you asign this to me.

[2022-09-11 04:33] vaibhavkoshti7 commented on #2432
hello @evan2645 . I want to work on this issue. Can you please assign it to me.

[2022-09-12 10:04] xiaods commented on #3401
@rturner3  please double check upstream code. in my env ,it's passed.
[code]

[2022-09-12 16:28] azdagron commented on #3401
Failure in this case is dependent on timing. If you run the test enough, it will fail. I usually do something like this:
[code]
And then wait. Eventually this will trigger a failure.

The reason these tests fail (there is more than one) is because when a trust domain becomes configured, a goroutine is started that will update the bundle for that trust domain. Some of the tests don't handle that co

[2022-09-13 16:17] amoore877 opened #3420 "Allow setting Agent Path Template for Azure MSI Node Attestation"
I believe the Azure integration should allow the same customizations for Agent ID format that GCP, AWS, x509pop, and sshpop provide.

Owners of SPIRE operations that deploy across several different provider types are unable to keep a consistent naming scheming for their Agents, adding complexity to any maintenance procedures and service/registrant integrations which rely upon Agent ID format.

Exa

[2022-09-13 18:54] azdagron commented on #3420
Sounds reasonable! Thanks, @amoore877 !

[2022-09-13 18:59] evan2645 commented on #2668
Yes! Thank you so much @ryysud ❤️

[2022-09-13 18:59] #2668 closed

[2022-09-13 23:19] mchurichi opened #3421 "SPIRE Server does not support binding to hostname"
SPIRE Server help says it supports binding to a DNS name, but it fails when passing in `localhost`, is this right?
[code]
* **Version**: 8a5b108a8d2abbfe3f83404258b7039363a09741
* **Platform**: Darwin workstation.local 21.6.0 Darwin Kernel Version 21.6.0: Sat Jun 18 17:07:25 PDT 2022; root:xnu-8020.140.41~1/RELEASE_X86_64 x86_64
* **Subsystem**: server

[2022-09-13 23:24] xiaods commented on #3401
when i run client.test, it only output below log:
[code]

[2022-09-14 19:24] azdagron commented on #3401
How many times did you run it?

[2022-09-14 19:27] azdagron commented on #3421
Looks like an oversight. Code calls net.ParseIP, when it should probably combine the BindAddress and BindPort and pass it to net.ResolveTCPAddr

[2022-09-15 13:15] xiaods commented on #3401
which step need run many times? i have run  below the step many times.
[code]
I have not seen your report errors.

[2022-09-15 15:03] azdagron commented on #3401
You've won the timing lottery :) I can reproduce this within a minute or two on my machine. It's also reproducing in the CI/CD pipeline.

[2022-09-19 14:18] MarcosDY opened #3431 "Deadline is deprecated"
Deadline configuration is not longer valid, since it was [deprecated](https://github.com/golangci/golangci-lint/pull/822)
and replaced with timeout

Update golangci-lint configuration file to use `timeout` instead

[2022-09-19 20:32] #3431 closed

[2022-09-20 14:29] dennisgove opened #3436 "Test Execution Bug: sqlstore_test.go checks the wrong err object"
The test code within [`sqlstore_test::TestUpdateRegistrationEntryWithMask`](https://github.com/spiffe/spire/blob/971443afc532349dd6f54105c9142a17a2eb130d/pkg/server/datastore/sqlstore/sqlstore_test.go#L2464-L2467) is checking the wrong value for an expected returned error.

[code]

The purpose of this block reads as "if the test expects an error to have been returned, then assert that the error wa

[2022-09-20 15:03] dennisgove commented on #3436
The second failing test was also due to a test setup error - the application code is performing as expected.

[2022-09-20 19:01] evan2645 commented on #3092
@tanjunchen may I ask why you want to use `holdApplicationUntilProxyStarts=true`? Is it something related to SPIRE, or something different?

[2022-09-21 01:57] tanjunchen commented on #3092
***holdApplicationUntilProxyStarts*** indicates whether the application starts first or istio-proxy starts first.

[2022-09-21 18:19] evan2645 commented on #3092
Thanks @tanjunchen - yes I understand what the feature does, I am wondering why you need it

It doesn't look like this issue will be resolved on the k8s side [any time soon](https://github.com/kubernetes/kubernetes/issues/110988). The next best thing could be to convince istio to implement the feature differently ... that also seems like a long shot but is worth it if we can find an alternate mech

[2022-09-21 20:21] dennisgove commented on #2700
I've submitted two PRs for this change.
 * https://github.com/spiffe/spire/pull/3445
 * https://github.com/spiffe/spire-api-sdk/pull/29

[2022-09-22 18:31] azdagron opened #3453 "Move action runners to Ubuntu 20.04"
The Ubuntu 18.04 runners are being deprecated by Github in advance of their EOL in 4/2023.

SPIRE 1.4.X should be the last releases to use the 18.04 runners. We should move to 20.04 beginning in 1.5.0.

[2022-09-22 19:01] evan2645 commented on #3177
Hey @hiyosi - thank you again for reporting this! We understand you are busy and it takes time to test, we don't want you to feel any pressure here. If you're able to find some time to test, please do post back here and let us know what you find. In the meantime, I'm going to close this issue out

[2022-09-22 19:01] #3177 closed

[2022-09-23 18:34] azdagron opened #3458 "Deprecate k8s-workload-registrar"
The K8s Workload Registrar has been a playground for various approaches to automatic registration of K8s workloads. The result has been a component with an organic growth of several operating modes and features with various tradeoffs. It has long been planned to eventually settle on one approach for the project.

The [spire-controller-manager](https://github.com/spiffe/spire-controller-manager) ha

[2022-09-23 19:33] evan2645 commented on #2432
Thanks @MarcosDY for assigning - @vaibhavkoshti7 you are now assigned!

[2022-09-28 14:59] keeganwitt opened #3464 "Add --version flag for k8s-workload-registrar and oidc-discovery-provider binaries"
I think it would be useful to be able to run `k8s-workload-registrar --version` and `oidc-discovery-provider --version` to see what version of the binary is on disk.

* **Version**: 1.4.2
* **Subsystem**: registar and oidc-provider

[2022-09-28 21:28] #3092 closed

[2022-09-28 22:19] mchurichi commented on #1495
doesn't SPIRE support sequence numbers in the Bundle yet?

[2022-09-28 22:24] azdagron opened #3466 "Release SPIRE 1.4.4"
Candidate commit: 513a1c0
Release date: October 5th, 2022

[2022-09-28 22:28] azdagron opened #3467 "Entry similarity check is racy"
SPIRE attempts to prevent what is more than likely an erroneous entry from being created where there is already another "similar" entry, where similarity is defined as an entry with the same (spiffeID, parentID, selectors) tuple.

This check was historically done outside of the datastore layer, which was racy when two or more registrars attempted to create a "similar" entry at the same time.

PR #

[2022-09-28 22:34] azdagron commented on #1495
It doesn't yet. It doesn't persist them nor increment them when the bundle is appended during rotation.

[2022-09-29 19:21] rturner3 commented on #3464
Hey @keeganwitt , this seems like a useful thing to add. We would accept a PR for this.

[2022-09-29 19:29] rturner3 commented on #3467
This is related to #1008. We thought we had fixed it in the past, but there are still problems in the entry uniqueness check.

[2022-09-29 21:22] #3453 closed

[2022-09-30 03:40] keeganwitt commented on #3464
If I made a PR for this, would the cli.go for these be under `support/` or `cli/`?

[2022-09-30 15:48] azdagron commented on #3464
Those projects have a very limited CLI. The flag parsing is done in each project's main.go. That's probably where I'd add the flag and subsequent behavior. The `pkg/common/version` package can be used to get the version. These components are released with the same version as SPIRE.

[2022-09-30 18:44] #3048 closed

[2022-10-04 20:27] #3464 closed

[2022-10-04 22:37] #3291 closed

[2022-10-04 22:42] elinesterov commented on #2652
Sorry folks, it took a while to get back to this. I put a doc [here](https://docs.google.com/document/d/197tavthpvdT0ZIElyX-07W8z7EgnMsWpwNH0WNs1p-Q) about the SPIRE Helm Chart proposal.
Let's comment/edit it together and set on something.
cc: @dfeldman

[2022-10-05 17:41] radnair opened #3484 "Add a resource tag(optional) when SPIRE server creates a KMS key"
Would be good to add an optional field (based on config) to add a resource tag to the keys that generated by the SPIRE server when using KMS.

The main reasoning for this ask is for being able to reduce the scope of permissions that SPIRE server needs specifically the `ScheduleKeyDeletion`; Once a resource tag is added the iam policy for the SPIRE server could be reduced in scope with conditions s

[2022-10-05 19:58] #3466 closed

[2022-10-06 21:54] #3421 closed

[2022-10-07 15:03] nweedon-u opened #3490 "Support Service Hooks on Windows"
* **Version**: Any
* **Platform**: Windows
* **Subsystem**: Agent

As at stands, the agent cannot be run as a Windows service as it does not integrate [service state transitions](https://learn.microsoft.com/en-us/windows/win32/services/service-status-transitions). As such, we are having to manage the process manually which is a bit more cumbersome than just starting and stopping a Windows service.

[2022-10-10 17:47] guilhermocc commented on #3199
Hello? can i be assigned to this issue, please?

[2022-10-10 18:17] amartinezfayo commented on #3199
Thank you for taking this, @guilhermocc!

[2022-10-10 20:56] azdagron commented on #2280
Solved by #2417.

[2022-10-10 20:56] #2280 closed

[2022-10-10 21:02] #2145 closed

[2022-10-10 21:05] azdagron commented on #1922
SPIRE has since moved away from keeping old migration code around, since we require upgrading through all minor releases. In other words, SPIRE no longer has this code in place.

[2022-10-10 21:05] #1922 closed

[2022-10-11 19:04] evan2645 commented on #3484
Hi @radnair - thanks for opening this. We've briefly discussed it today and have a couple questions/comments
* If IAM policy is being used to control which keys SPIRE Server can delete based on a tag value, but SPIRE has the ability to set an arbitrary tag value, it seems like the security control is circumvented? Perhaps you are wanting to do this purely for safety purposes rather than security?

[2022-10-11 19:15] zmt commented on #2712
Notes from discussion today:
* migration guide should be up as early as possible prior to enforcement release
* we should add a feature flag to re-enable "log-only" mode in the version that enforces by default
	* ideally we can avoid mixed-mode attestation (skip step 2 above)
    * remove the "log-only" flag in the following minor release
	* if a consumer upgrades and encounters this unexpectedly

[2022-10-11 19:29] amartinezfayo commented on #3490
Thank you @nweedon-u for opening this issue. This is something that we considered in the past.
We've discussed this in today's sync and providing native support in SPIRE to run it as a Windows service is something that we want to have.
We think that SPIRE Server should also have the same support, and not only the agent, so they both have consistent support for this.
Something that we discussed is

[2022-10-11 19:36] azdagron commented on #1523
These log messages are now embellished with locator information. Further, the alias concept is a little hacky and may or may not exist, and in any case would require an additional lookup. We'll go ahead and close this for now.

[2022-10-11 19:36] #1523 closed

[2022-10-11 19:44] evan2645 commented on #1534
This code has been refactored a couple of times since this issue is open, and we believe that server connection errors are less noisy now ... there are also a couple underlying conditions that previously caused similar problems that have since been fixed. We're going to close this out for now, please let us know if it continues.

[2022-10-11 19:44] #1534 closed

[2022-10-11 19:48] #1625 closed

[2022-10-11 19:49] evan2645 commented on #1569
This is a known issue, and unfortunately as @amartinezfayo points out, the problem is kind of core to the way that selectors work. Plugins can emit any selector they want, and core has no idea what may be emitted in advance. On top of that, validation needs to occur at the server only, and not at the agent which is where these plugins are loaded.

We've looked at this several times and have never

[2022-10-11 19:49] #1569 closed

[2022-10-11 19:49] azdagron commented on #1653
This idea hasn't gained traction for a few years now. Closing for now.

[2022-10-11 19:49] #1653 closed

[2022-10-11 19:56] azdagron commented on #1729
We took another look at this. Our metrics library truncates measurements to millisecond precision. Further, as of go1.18, all of the key algorithms we use are implemented in constant time. We're not worried about a timing attack here at this point. If you have further concern, please send an email to security@spiffe.io.

[2022-10-11 19:56] #1729 closed

[2022-10-11 19:59] azdagron commented on #1754
There hasn't been any interest in this in over a year. We also have struggled to see how we can support this with a good user experience. I'll go ahead and close for now. We're happy to consider a feature like this. Please open a new issue if interested.

[2022-10-11 19:59] #1754 closed

[2022-10-11 20:02] azdagron commented on #1795
This kind of behavior will be customizable with the introduction of the [CredentialComposer](https://github.com/spiffe/spire/issues/3253) plugin. Closing this issue in favor of that work.

[2022-10-11 20:02] #1795 closed

[2022-10-11 20:06] azdagron commented on #1812
Thanks for opening this @ajessup. Since the k8s-workload-registrar is being deprecated, I'll go ahead and close this out.

[2022-10-11 20:06] #1812 closed

[2022-10-11 20:08] #1809 closed

[2022-10-11 20:10] azdagron commented on #1816
I believe that this now works fine with the SPIFFEValidator support in Envoy. Please re-open if that isn't the case.

[2022-10-11 20:10] #1816 closed

[2022-10-11 20:12] azdagron commented on #1817
I think this is covered by the `join_token` integration test that tests that the vanity record functions as expected.

[2022-10-11 20:12] #1817 closed

[2022-10-11 20:17] evan2645 opened #3495 "Deprecate k8s_sat attestor"
In a conversation with @azdagron and @MarcosDY, we noted that the regular SAT token in k8s is now the exact same shape as the PSAT token, and therefor the PSAT attestor can be used to validate SAT tokens.

We continue to support SAT based attestation, which has many known security shortcomings, however the time has come to move on. Deprecate k8s_sat attestor in favor of k8s_psat, and validate that

[2022-10-11 20:18] azdagron commented on #1827
We've opened #3495 to deprecate the SAT attestor. Thank you so much @srwaggon and @adobley for doing the initial research on this.

[2022-10-11 20:18] #1827 closed

[2022-10-11 20:19] azdagron commented on #1828
I think most of the server code is done. We still need to go through the agent side, particularly the use of the bundleutil package.

[2022-10-11 20:21] azdagron commented on #1833
This issue is a bit stale and there has been little interest. Closing for now.

[2022-10-11 20:21] #1833 closed

[2022-10-11 20:23] azdagron commented on #1836
Hey @dfeldman, are you working on this?

[2022-10-11 20:26] azdagron commented on #1843
This work has been completed for some time. If there are new insights or issues with the serverless support in SPIRE, please file new issues to track those.

[2022-10-11 20:26] #1843 closed

[2022-10-11 20:32] azdagron commented on #1860
There have been many advances in this field since this issue was opened (e.g. sigstore, etc.). I think we have several options for this if/when we go down this path.

[2022-10-11 20:32] #1860 closed

[2022-10-11 20:35] azdagron commented on #1862
This issue highlights several reasons why the SPIRE image currently runs as root. The hostPath issue has been largely solved through the use of the [SPIFFE CSI Driver](https://github.com/spiffe/spiffe-csi). We certainly want to continue exploring ways to reduce the permissions needed to execute SPIRE. I'd invite further conversations about this topic to happen in new issues.

[2022-10-11 20:35] #1862 closed

[2022-10-12 15:20] azdagron opened #3496 "[RFC] Introduce SyncAuthorizedEntries RPC"
There exist several problems with the agent sync for deployments that deliver a large amount of registrations to each agent (see #2675 and #2845).

To alleviate these problems and severely reduce the amount of network traffic required to do the agent sync in these situations, we propose the introduction of a new RPC with the following semantics:

- If the list of authorized entries is smaller than

[2022-10-12 15:21] azdagron commented on #2675
I'm closing this issue in lieu of #3496. If that proposal is rejected, we can reopen this issue to explore alternatives.

[2022-10-12 15:21] #2675 closed

[2022-10-12 15:28] azdagron commented on #2845
I've put the new proposal that was settled on in a previous contributor sync into #3496, which was largely inspired by @amoore877 's proposal above (thanks!). The most noted departure is that #3496 implements this as a single streaming RPC to alleviate our concerns about server split-view and doing multiple authorized entry crawls.

We'll close this and other related agent sync issues that are sol

[2022-10-12 15:28] #2845 closed

[2022-10-12 15:29] azdagron commented on #3496
A proof-of-concept for this work has been implemented [here](https://github.com/azdagron/spire/tree/syncauthorizedentries).

[2022-10-12 16:31] azdagron opened #3497 "Remove deprecated "enabled" flag from InMem telemetry config"
The "enabled" flag was deprecated as part of #3492, which changed the default value to false for the 1.5.0 release. We warn if the flag is explicitly set since it is no longer needed with the changed default.

We can remove the deprecated flag in 1.6.0.

[2022-10-12 17:01] keeganwitt opened #3498 "Telemetry for error conditions"
It would be useful to have telemetry (like Datadog metrics) for system errors/failures. For example,

* Failed agent attestations
* Failed workload attestations
* Expired SVIDs
* Server crashes (although this can be captured currently with a Kubernetes metric)
* Agent crashes (although this can be captured currently with a Kubernetes metric)
* Failures to update datastore (network problems, corrup

[2022-10-12 17:02] keeganwitt commented on #3498
If this was intentionally not implemented, was there another recommended approach for monitoring failures in a Spire cluster?

[2022-10-12 18:51] azdagron commented on #2450
As of #3492, this test no longer exists in the repository.

[2022-10-12 18:51] #2450 closed

[2022-10-13 18:36] evan2645 opened #3501 "Mark the k8s-workload-registrar as deprecated in both documentation and logging"

[2022-10-13 18:49] evan2645 commented on #1832
We need to do a little more research on this to see what our options are, and how much relative work each one presents. A quick list of some things discussed on the maintainer call today:
* Possible to use gorm for migrations only?
* How much work to move to gorm v2?
* Do we need to take on a bunch of dialect specific logic if we lift all the queries out of gorm?
* Are there any other areas where

[2022-10-13 18:51] evan2645 commented on #3495
Double check that this is in fact the case, and that it applies to all currently supported k8s versions

[2022-10-13 23:00] radnair commented on #3484
Hi @evan2645 yes, wanted this for safety purpose (so that later on i can configure spire to only schedule key deletion for keys which has a specific tag like "spire_key": true etc.
+1 to the GCP plugin - something like this would work

[2022-10-14 06:58] divaspathak commented on #3386
Hello @erikgb

<img width="1440" alt="Screenshot 2022-10-13 at 1 56 26 PM" src="https://user-images.githubusercontent.com/34067518/195776421-1b338ab1-5137-4d4a-9b2d-5ad4a7afd27f.png">

I'm able to reach this k8s workloads registrar config file. file, but I am not able to figure out what to do next. Like how to reach this particular **disabled_namespace property** of the k8s workloads registrar con

[2022-10-14 07:11] faisal-memon commented on #3386
You should just be able to do:
[code]

[2022-10-14 16:59] lodthe opened #3502 "Support Annotations selectors in Kubernetes workload attestor"
At the moment, K8S WorkloadAttestor doesn't add pod annotations to workload selector list (but adds pod labels). I want to understand if this was done intentionally. If so, I'd be glad to understand the reasons of this decision. It may be useful for some users to match entries not only based on labels and other existing selector types, but on annotations too.

Annotations can be taken from the pod

[2022-10-14 19:41] evan2645 commented on #3502
If I had to guess, the unbounded length thing was probably seen as an issue when evaluating what should be surfaced as selectors and what shouldn't. Maybe one option is to hardcode a max, and log an error and fail to emit selectors for annotation values above that size.

Another observation is that when googling for annotations vs labels, the very first thing surfaced is:
[code]

[2022-10-14 22:00] lodthe commented on #3502
I guess having large annotations is a common case, so error logging is unnecessary. In my mind, hardcoding a reasonable max length is OK. Also, it should be checked if all characters used in an annotation value could be presented in a SPIFFE selector.

If that's appropriate, I can try to implement this.

```Labels can be used to select objects and to find collections of objects that satisfy certai

[2022-10-15 14:30] sudeeptoroy opened #3503 "Spire do not federate between k8s clusters which implements Istio multi-primary on different networks"
An application is make to federate between two trust domain using spire and Istio. The app being sleep app and helloworld app. The sleep application is able to discover the helloworld service in the other cluster. spire-agent is managing the SDS interface for envoy and its helping to mint the required certs for the envoy. spire is configured with auto attestation of workload.

A sleep app in clust

[2022-10-17 19:20] evan2645 commented on #3503
@maxlambrecht do you know if there's anything special that needs to be done to do federated auth with an Istio workload?

There's a lot of config here and it's hard for me to parse it all.

Curl isn't SPIFFE aware, so unless you will have a hard time seeing success with it unless you feed it a bunch of flags and the bundle etc. For example, I think it needs, at a minimum, configuration for a clien

[2022-10-18 13:32] maxlambrecht commented on #3503
In both clusters the Envoy proxies need to have the the `SPIFFECertValidatorConfig` with the trust bundle of the other trust domain.  To achieve that, on the “aws.com” cluster, SPIRE server should have a registration entry for the `sleep` worklaod with a FederatesWith “google.com”. Analogously, on the “google.com” cluster, SPIRE server should have a registration entry for the `helloworld` workload

[2022-10-18 14:47] sudeeptoroy commented on #3503
Hi @evan2645 and @maxlambrecht,

Thank you for your reply. As @maxlambrecht mentioned; curl is from the sleep pod to helloworld via the sidecar. The sidecar is going to upgrade the connection and use the cert as minted by the spire.

@maxlambrecht, when i inspect the identity certs for helloworld app i see that its minted by spire. Also i have not created any manual attestation rules so it should

[2022-10-18 14:59] sudeeptoroy commented on #3503
coping @nrjpoddar for your views wrt istio.
@alexandrealvino for help and visibility.

[2022-10-18 16:08] azdagron commented on #3503
~Another thing I noticed is that the requested SDS resource for the validation context is `ROOTCA`. By default, this will only return the bundle for the trust domain of the workload. `ALL` is the resource name that will return all federated bundles.~

Nevermind, I see in your config that you are overriding those names such that `ROOTCA` is the resource name for all bundles.

[2022-10-18 16:10] azdagron commented on #3503
In order for the k8s-workload-registrar to register the workloads with federation, your pods need a `spiffe.io/federatesWith` annotation set to the trust domain name you want the workload to federation with. See https://github.com/spiffe/spire/tree/main/support/k8s/k8s-workload-registrar/mode-crd#federated-entry-registration.

[2022-10-18 17:02] sudeeptoroy commented on #3503
Hi @maxlambrecht, yes there are two versions of helloworld v1 and v2.
V1 runs in aws.com cluster and v2 runs in google.com. They are there so that from the sleep app i can get response from both the helloworld versions.

[2022-10-18 18:34] amartinezfayo commented on #3484
@radnair Aliases managed by the plugin have the following form: `alias/SPIRE_SERVER/{TRUST_DOMAIN}/{SERVER_ID}/{KEY_ID}`. Wouldn't be enough to add a condition to the Policy to filter only the keys that are managed by the plugin? Like:
`"Resource": "arn:aws:kms:region:account-id:alias/SPIRE_SERVER*"`

[2022-10-18 19:11] MarcosDY opened #3506 "go-health dependency is failing to load dependency"
go-health that is using in the heath check process is failing to load a deleted dependency.
It is an already [know issue ](https://github.com/InVisionApp/go-health/releases/tag/v2.1.3)
[code]

[2022-10-18 19:16] amartinezfayo commented on #3484
We discussed this some more in today's sync and the consensus was that it would be good that the plugin adds a (static) tag to identify the keys managed by the `aws_kms` plugin. Thank you for bringing this up, @radnair!

[2022-10-18 19:55] rturner3 commented on #3498
Hi @keeganwitt, we have our current telemetry documented at [TELEMETRY.md](https://github.com/spiffe/spire/blob/main/doc/telemetry.md). I would suggest taking a look there to see which existing metrics may help your observability into SPIRE.

These should already be emitted with RPC call counter metrics.

Server RPC call counter metric for node attestation failures (including x509pop case you poin

[2022-10-18 20:22] #3498 closed

[2022-10-18 20:39] radnair commented on #3484
Excellent sounds good!

[2022-10-19 05:37] jessesanford opened #3514 "plugin server nodeattestor aws iid: Allow for additional selectors from the Instance Identity Document?"
Is there any reason we can't surface more fields from the instance identity document to be used as selectors?
https://github.com/spiffe/spire/blob/02d7af3ad63147acd847dd09853a251dfe0c18b9/pkg/server/plugin/nodeattestor/awsiid/iid.go#L355-L397

[code]

Particularly `imageId` would be handy to only allow spiffe ids for nodes built on known hardened or blessed images

[2022-10-19 15:05] sudeeptoroy commented on #3503
i recreated the setup again. I see the FederatesWith entry:

Aws.com
( marked with >>>>>>>>>> )

[code]

Google.com

[code]

[2022-10-19 15:14] keeganwitt commented on #3498
Thank you for your response. I'm still confused about how the existing telemetry would help monitor some of these cases. Let's talk about one or two specific examples, then maybe it'll become clearer to me.

In the case of node attestation failures, you suggest to use `spire_server.rpc.agent.v1.agent.attest_agent`. My understanding is that this metric is a count of each time an agent is attempted

[2022-10-19 16:44] azdagron commented on #3503
That looks correct. One option here is to run a simple tool inside the same pod as the workload to see what the SPIRE Agent is returning from SDS. I have such a tool but you'd need to build it and get it into a container: https://gist.github.com/azdagron/c93712195342e5a472f1d08a7eab13b7

[2022-10-19 17:48] keeganwitt commented on #3498
Ohh -- I had not noticed this was captured by the metric. Thank you for mentioning this! I will go back through the existing telemetry and re-evaluate whether the monitoring I need actually already exists.

This might be something worth adding to the documentation.

[2022-10-19 17:49] azdagron commented on #3498
Yes, i totally agree. We can do better describing exactly what is included with the "CallCounter" metrics.

[2022-10-19 21:33] #3506 closed

[2022-10-20 00:14] azdagron commented on #3498
I've made an attempt at describing call counters [here](https://github.com/spiffe/spire/pull/3515). Happy to have your review on that, @keeganwitt :)

[2022-10-20 04:26] keeganwitt commented on #3498
Thank you for adding this! I left a couple comments.

Side note for anyone who finds themselves here from Google: In my testing, `spire_server.rpc.agent.v1.agent.attest_agent > status` does not show failures when an entry is missing for x509pop attestation. But it might work for other attestors. I'm not really sure why this is the case.

[2022-10-20 07:55] sudeeptoroy commented on #3503
Thank you @azdagron ,
I was able to run the executable in the istio-proxy container.

Here is output from the helloworld-v2 pod:

[code]

and a similar output from the sleep pod from the other cluster:

[code]

[2022-10-20 08:14] sudeeptoroy commented on #3503
Additionally i did this experiment.

On cluster2 ( google.com ):
I connected to the spire server and minted a cert.
I brought up a debug pod and used the certs i minted from the above step.
I was successful in connecting to the helloworld-v2 app.

On cluster 1 ( aws.com ):
I bought up the same debug pod and used the same cert minted earlier to connect to helloworld-v2 app on the other cluster. It

[2022-10-20 14:35] guilhermocc commented on #1354
Hi, I'm interested in taking this issue for using the new cli printer for the rest of the commands, could it be assigned to me, please?

[2022-10-20 15:02] azdagron commented on #3503
As an aside, you may want to redact private keys from the SDS output before pasting here.

It looks like your SDS configuration, specifically the match_subject_alt_names directives, is preventing the SVIDs from the other trust domain from being authorized. I don't know much about Istio or how to influence those directives, but for sure they are rejecting the URI SANs being presented in SVIDs from

[2022-10-20 17:28] sudeeptoroy commented on #3503
Yeah, not sure how to validate this. Do you have any istio experts who can help?
I pasted the private key as its selfsigned but yes, you are right i should practice to redact it whenever i copy paste them. 👍🏻

[2022-10-20 17:31] sudeeptoroy commented on #3503
additionally if you look at the server logs. It says :SSLV3_ALERT_CERTIFICATE_UNKNOWN

and if i look at the client logs it says CERTIFICATE_VERIFY_FAILED

[code]

[code]

[2022-10-20 18:39] maxlambrecht commented on #3503
I'm not really sure because I didn't test it but I'd look into defining the helloworld service as a service entry in the client mesh an apply a DestinationRule with mTLS on it.

[2022-10-20 19:15] azdagron commented on #3514
We reviewed this in our maintainer sync and were surprised we didn't already emit some of these. We agree there are some valuable selectors that could be produced from these claims (e.g. imageId, region, availabilityZone). A contribution would of course be welcome here :)

[2022-10-20 19:25] evan2645 commented on #3502
Hey @lodthe, thanks for the additional information. We discussed this a bit, and are having a hard time coming up with a good experience

If we silently drop/ignore annotations that are too long, I think folks will get confused... workloads won't pass attestation if these dropped selectors are referenced, and there won't be any good indication as to why. I don't think we tightly manage maximum sel

[2022-10-24 11:21] developer-guy opened #3518 "k8sbundle notifier plugin throws an error if kube_config_file_path is not provided"
We (w/@dentrax) followed up on the [documentation](notifier_k8sbundle.md) of the _k8sbundle_ plugin, and it says if the `kube_config_file_path` parameter is not provided, in-cluster credentials will be used, however, we saw an error once we try to configure the k8sbundle notifier plugin like the following:

[code]

-- | --

We investigated the error a little bit and saw the following code part tha

[2022-10-24 11:27] lodthe commented on #3502
In most cases it's metadata like detailed information about release and even some parts of configuration.

I had the same minds. Annotations that I want to use as workload selectors are < 64 bytes. The only reason why I prefer to put them in annotations (instead of labels), is that I never ask Kubernetes to filter k8s resources by them and I want to avoid extra overhead because of storing labels i

[2022-10-24 20:51] dennisgove commented on #2875
We were discussing this in a [Slack thread](https://spiffe.slack.com/archives/C7XDP01HB/p1666635684144289) today and decided to avoid TPM simulator usage on Darwin machines. The result is that four test files will get the following headers. PR incoming with this change.

[code]

Files
[code]

[2022-10-25 13:13] #2875 closed

[2022-10-25 14:40] sudeeptoroy commented on #3503
Hi @maxlambrecht, were you able to reproduce this with your setup. Let me know if face any issue. I am ready to work with you incase you need any help.

[2022-10-25 18:25] #3501 closed

[2022-10-25 18:55] azdagron opened #3527 "Create migration guide for users impacted by agent ID shape enforcement"
Before we can enforce agent ID shape (#2712) we need to come up with a migration guide for users are impacted by the enforcement.

[2022-10-25 18:55] azdagron commented on #3527
@zmt, are you still interested in contributing this guide?

[2022-10-25 22:17] azdagron commented on #3503
At this point I don't believe we have any evidence that SPIRE is at fault for this correct? @maxlambrecht @sudeeptoroy, can we close this issue while you folks sort out the Istio bits?

[2022-10-26 11:16] sudeeptoroy commented on #3503
Hi @azdagron i would suggest we don't close the issue as its still not clear. The code changes on Istio was done by this group and there are possibilities that it was not correctly configured or this end to end mTLS use case was not tested when the feature was designed.

[2022-10-26 14:23] maxlambrecht commented on #3503
Yes, I could reproduce the issue, got the same error CERTIFICATE_VERIFY_FAILED, and all the evidence points to the URI exact validation in the Upstream Cluster config in Envoy.

I agree that it doesn't seem to be a SPIRE issue, based on the logs and Envoy configs, the Envoys are getting the all bundles in the proper SDS response from the SPIRE Agent.

The Envoy configuration that is causing the is

[2022-10-26 15:02] sudeeptoroy commented on #3503
Thank you @maxlambrecht for the confirmation. How do you want to take it forward to the istio community. I would like to be a part of it.

[2022-10-26 15:23] maxlambrecht commented on #3503
Would you be willing to open an issue in Istio? You could summarize what we found here, sharing your setup, pointing to what is causing the certificate validation error, the Envoy exact URI validation, asking how that could be solved through Istio configs.

[2022-10-26 18:34] #2700 closed

[2022-10-26 21:26] #3199 closed

[2022-10-26 22:57] azdagron opened #3535 "Flaky test in common health unit-tests"
New health unit-tests have a flaky test:

[code]

[2022-10-26 23:01] azdagron opened #3536 "Remove x509_svid_ttl column"
In anticipation of introducing seperate X509-SVID and JWT-SVID TTL registration entry fields, two new columns were added to the registration entry model in the datastore (see #3174). Support was added to SPIRE core to support these fields in (#3445), which would consume these columns. However, while developing and evaluating the new support we came to the conclusion that backcompat and downgrade s

[2022-10-27 03:29] azdagron opened #3537 "Release SPIRE 1.5.0"
Candidate commit: [9c7479d](https://github.com/spiffe/spire/commit/9c7479da76d7fc005768187ac5869ee7bd13737d)
Release Date: Nov 2nd, 2022

[2022-10-27 14:05] azdagron opened #3538 "No longer test against database versions that are end-of-life"
We currently have integration tests against the following EOL'd database versions:
- MySQL 5.5 (EOL Dec 2018)
- MySQL 5.6 (EOL Feb 2021)
- PostgreSQL 9 (EOL Nov 2021)

These database versions have been EOL for at least a year (in a few days, that is). They take significant time to test in our CI/CD pipeline, particularly MySQL.

This issue is to discuss the removal of integration testing for these

[2022-10-28 11:25] marcofranssen opened #3542 "Add support for multiple platforms to the docker images"
* **Version**: 1.4.4
* **Platform**: EKS Bottlerocket (arm64v8)
* **Subsystem**: all components

To support Spire on my EKS cluster arm64v8 nodes it would be great if the Spire images would support various platforms. Especially for the spire-agent this is highly appreciated so also my arm64 deployments running on arm64 nodes can use spiffe ids issued by a spire-agent on the arm64 nodes.

Currently

[2022-10-28 13:25] amartinezfayo opened #3543 "Update the `k8sbundle` plugin documentation to clarify when a `kube_config_file_path` is required"
The documentation of the `k8sbundle` notifier plugin is not clear about when the `kube_config_file_path` is required.
Since the introduction of the support for multiple clusters, those clusters can be configured in the `clusters` section and are assumed to be remote clusters that require a `kube_config_file_path` setting.

An in-cluster config can only be specified in the top-level configuration.

[2022-10-28 13:31] amartinezfayo commented on #3518
@developer-guy Thanks for opening this issue.
Unfortunately, the documentation of the `k8sbundle` plugin is not clear about this.
This plugin did not support multiple clusters from the beginning and the introduction of this support had to be done in a backwards-compatible way. Hence, some confusion was generated around the top-level settings and the `clusters` section.

Clusters configured in the

[2022-10-28 13:31] #3518 closed

[2022-10-28 15:11] azdagron commented on #3542
Thanks for opening this, @marcofranssen. This is a duplicate of #1984. In short, we're totally on board with providing multi-arch images. It has not been high priority for the maintainers to pick up directly though, so if folks want it sooner than later, a contribution would be more than welcome.

[2022-10-28 15:11] #3542 closed

[2022-10-28 15:16] marcofranssen commented on #1984
Would goreleaser be accepted to cross compile for different platforms and architectures? That would make things a lot easier. Goreleaser in the backend does support buildx when running on the matrix. A nice benefit of goreleaser is that it also integrates with Sigstore so we can also start signing the releases and add SBOMs and build provenance. 😄

[2022-10-28 17:57] rturner3 opened #3545 "Promote scratch images as official release images"
#1972 introduced build targets for scratch images that produce images with only the artifacts necessary to run SPIRE components.  The stripped-down images provide a safer security posture for users who depend on SPIRE release images, such that only the required software and configuration is present in the container.

We have been publishing these scratch release images to GitHub Packages as of v1.

[2022-10-31 20:17] segator opened #3549 "Feature Request: Dynamic Kubernetes Node Attestor"
In case you want to dynamically add/remove new kubernetes clusters you need to restart the service.
In our case we deploy thousand of Kubernetes clusters on costumer infrastructure(on-premise/edge).

I would like to have some kind of API at server side to add new clusters without need to modify conf file and reboot server.

[2022-10-31 20:48] dennisgove commented on #3536
I'm happy to take this on.

[2022-10-31 20:54] azdagron commented on #3536
That'd be great! Thanks @dennisgove. The `main` branch will open up for 1.6.0 changes roughly after we ship 1.5.2 in a few months. I'll assign this to you.

[2022-11-01 19:00] evan2645 commented on #3549
This is not the first time we've heard folks wanting something like this.

I'm not sure if this works well with k8s config map or not, but one option we discussed on our call today is to move to a file based approach in which kubeconfig files get placed into a directory, and the plugin independently scans this directory to pick up changes without restart.

I talked to @segator and they will try to

[2022-11-01 19:09] evan2645 commented on #3502
Hey @lodthe .. thanks for the reply

Oh, I see ... that makes sense

I'm still having a hard time coming up with a good way to support this. It seems like we either silently drop a subset of selectors, log noisily even in cases where the selectors aren't used, or truncate (which comes with security concerns). I don't think any of them are very good options...

I'm going to go ahead and close this

[2022-11-01 19:09] #3502 closed

[2022-11-01 19:32] djcrabhat commented on #2652
Talked in contributor call this week, we're gonna really make it happen!

[2022-11-01 21:10] azdagron commented on #2454
I definitely think we need to come up with something to solve, or at least reasonably mitigate this circumstance. I'd love to continue exploring some options here.

Generally speaking, waiting for an "ACK" before recording attestation results (i.e. deleting the join token, recording the node attestation) would help when the flow is interrupted before the agent can record its SVID. However, it woul

[2022-11-01 23:30] elinesterov commented on #2652
Awesome. I think the biggest issue is to have at least two committed maintainers. So far, I've seen @kfox1111 committed to doing so, and @dfeldman mentioned he could help as well.
I tried to build a doc (link above) to summarize ideas and propose direction because we seem to want to put everything into the helm chart, which will make it hard to use and support (and some things won't be possible th

[2022-11-01 23:48] kfox1111 commented on #2652
IMO, operators are very useful when they add awareness of how the software needs to be operated to lifecycle properly. But are kind of a black box too. So should be used when there is a reason to need that special lifecycle. If the software can operate properly with just helm, its preferable to me to use helm in that case then add an operator just to have one.  Do we think there are particular fea

[2022-11-02 00:06] elinesterov commented on #2652
There is already a spire-controller-manager that manages federation and workload registration. More things need to be implemented (e.g., CSI driver, datastore credentials management and rotation, and many other things that currently require restarting the SPIRE server).

[2022-11-02 00:20] kfox1111 commented on #2652
spire-controller-manager & csi driver wouldn't need to manage lifecycle I think They are pretty straight forward functional wise.

Data store credentials should work with helm too I think. Rotation, maybe not? so that might benefit from an operator. Though, you may want those creds to be in ci/cd so maybe not?

Anything else we can think of?

I've done a couple ansible based operators and they wer

[2022-11-02 01:04] elinesterov commented on #2652
I brought the spire-controller-manager as an example of the work that is already done. You don't need to manage its lifecycle. It is quite the opposite - it manages the lifecycle of the SPIRE server. I suggest extending it to manage other areas that currently require a restart of the SPIRE server. Datastore credential management is just one example.

[2022-11-02 02:54] mrsabath commented on #2652
I am definitely interested in contributing to helm charts, especially in context of standing up SPIRE with a Tornjak instance. We currently have several helm charts for starting SPIRE Server with Tornjak on several platforms, as well as SPIRE agents for various installs across multi-cloud deployments with workload registrar and custom identity schemas.

[2022-11-02 17:15] jcrumb-u21 opened #3554 "Add support for additional upstream root certificates to UpstreamAuthority awssecret"
When using the `awssecret` UpstreamAuthority plugin, it assumes that the user is specifying a self-signed CA. Unlike the `disk` or `aws_pca` plugins, there is no way to specify additional certificates that chain up to a self-signed root to be included in the trust bundle.

This means that if the certificate and key pair specified in `cert_file_arn` and `key_file_arn` are themselves an intermediate

[2022-11-02 23:02] #3537 closed

[2022-11-03 12:42] developer-guy commented on #1984
Hi, we (w/@marcofranssen) are willing to work on this, can anyone assign it to me?

/cc @anvega @azdagron ☝️

[2022-11-03 13:55] developer-guy commented on #2652
It'd be better to link the Google doc started for the [SPIRE Helm chart proposal](https://docs.google.com/document/d/197tavthpvdT0ZIElyX-07W8z7EgnMsWpwNH0WNs1p-Q/edit#) here, thanks to @elinesterov 👏
_Slack Announcement: https://spiffe.slack.com/archives/C7XDP01HB/p1664923493369869_

[2022-11-03 16:41] nrjpoddar commented on #3503
@sudeeptoroy I mentioned this issue to my team and @linsun from my team will help you out here.

[2022-11-03 19:09] marcofranssen commented on #2652
I'm still willing to donate our chart to any repo of choice including commit history etc. for the sake of documentation etc. Also willing to co-maintain the helm-chart.

Give me a repo, and magic will happen 🚀

[2022-11-04 10:23] marcofranssen commented on #3545
There is one issue with that. Readiness probes will fail because the required binaries are not there. Is there another way to do readiness probes on these containers? If yes all the examples out there have to be updated.

[code]

[2022-11-04 10:51] cooper190113 opened #3571 "install spire failed with istio1.15 and k8s1.22.1，agent and server has errors"
**agent install errors：**
![3a1e5c4825d4133dcf8ed5d787256bb](https://user-images.githubusercontent.com/851243/199955218-51923b1d-b07a-480b-9a6e-7afb95b36974.jpg)

**server install errors：**
![24e756196031f39e443fd1109b4d50a](https://user-images.githubusercontent.com/851243/199955273-68f9b8da-1476-43da-b7d5-9c52c3717795.jpg)

[2022-11-04 12:33] azdagron commented on #3545
Yikes. That ps based readiness probe doesn't seem like it should have been used in the first place, as K8s will already be aware if that process goes down. We should definitely drop those (or convert to the http probes).

[2022-11-04 12:47] marcofranssen opened #3572 "oidc-discovery-provider healthcheck endpoint does not work"
* **Version**: 1.5.0
* **Platform**: EKS 1.23
* **Subsystem**: spire-oidc-provider

Using the scratch images on `ghcr.io` I can't use the following readiness probe anymore.

[code]

However the healthcheck endpoint also doesn't work due to the fact it only listens on localhost.

https://github.com/spiffe/spire/blob/main/support/oidc-discovery-provider/main.go#L103

See here my k8s httpGet probes.

[2022-11-04 14:50] #3571 closed

[2022-11-04 16:11] azdagron commented on #3572
Doesn't sound like the health check ever worked. We should fix this.

[2022-11-04 19:43] azdagron commented on #2238
@amoore877 are you still interested in seeing something like this? If I recall, one of the motivations for this was to reduce the certificate chain (and thus sync traffic), which I think we're addressing elsewhere (#3496).

[2022-11-04 19:52] amoore877 commented on #3496
I have a non-major concern just about this one bit, where rather than consistently performing the same operations we introduce branching logic. Any decision point is inherently going to add a cost to maintenance and be a potential failure mechanism.
I can understand what is the counterpoint here though, that this reduces the practical complexity/overhead of cases not needing the multi-step syncing

[2022-11-04 19:55] amoore877 commented on #2238
I think #3496 + having consumers who make use of SVID material making sure they trim off self-signed clutter in outbounds is sufficient. The latter half is working fantastically in my operations, and is much better than a central big change to SPIRE's own behavior wrt CA management.

[2022-11-04 22:28] #2840 closed

[2022-11-04 22:31] amartinezfayo commented on #3189
Identified work items are:
- [ ] Atomic writing of files on Windows with a specific security descriptor. #3577
- [ ] Respect intended permissions in `os.WriteFile` calls.

[2022-11-04 23:01] dzhou3 commented on #2454
@azdagron Ah, I see the challenge here, and we don't have a good solution to solve the problem yet. However, I think we can mitigate the problem by adding a new spire-server API that gives the failed node a second chance to attest with the same join token it is configured with. The API may look like this:
[code]
It takes two arguments from the admin user `join-token` and `ttl`. The spire-server si

[2022-11-04 23:51] azdagron commented on #3401
Fixed by #3575

[2022-11-04 23:51] #3401 closed

[2022-11-04 23:52] azdagron commented on #3339
This should be fixed by #3499.

[2022-11-04 23:52] #3339 closed

[2022-11-07 16:19] faisal-memon commented on #2652
I was hoping we could spend some time at the next sig spire meeting to demo the available solutions. What do you think?

[2022-11-07 19:48] dennisgove opened #3581 "Unexpected default X509 SVID TTL"
PR #3445 added support for X509 and JWT specific SVID TTLs. As part of this, the `spire-server` binary config arguments were updated to include all of
https://github.com/spiffe/spire/blob/d98577f7eb8862a660a91d3a8560bb4bbca7b083/cmd/spire-server/cli/run/run.go#L77-L79

The following lines set the config defaults for the X509 and JWT SVIDs
https://github.com/spiffe/spire/blob/d98577f7eb8862a660a91d

[2022-11-07 19:49] dennisgove commented on #3581
@azdagron for visibility

[2022-11-07 20:10] dennisgove commented on #3581
These two lines in the test appear to be why this wasn't caught during testing. It was an issue I ran into during initial testing and resolved it incorrectly.

https://github.com/spiffe/spire/blob/d98577f7eb8862a660a91d3a8560bb4bbca7b083/cmd/spire-server/cli/run/run_test.go#L642-L643

Removing those two lines shows the test now failing as it should.
[code]

[2022-11-07 20:15] swamibluedata opened #3582 "Use kubernetes secret as a keymanager plugin"
In a pure kubernetes environment, when running spire-server in HA configuration, pvc is still required to share keys.json across multiple replicas. Does it make sense to implement a keymanager plugin that utilizes kubernetes secret.

[2022-11-07 20:22] azdagron commented on #3582
Hey @swamibluedata, SPIRE Server instances do not share signing keys. You shouldn't need to share these keys between instances, and in fact it will probably cause some problems.

[2022-11-07 20:23] azdagron commented on #3582
(i.e. SPIRE servers, when restarted, will not recognize the keys since they are not part of the journal and will force a key rotation)

[2022-11-07 20:24] azdagron commented on #3581
Yikes. We should fix this.

[2022-11-07 20:37] swamibluedata commented on #3582
Thanks @azdagron .

Can the keys.json just be ephemeral in that case?

If the spire-server is restarted without persistent signing keys, do the agents need to be restarted for attestation?

[2022-11-07 20:44] azdagron commented on #3582
The answer is, it depends. If the keys are not persisted then when SPIRE server starts up, it will immediately rotate its signing keys. If you are using JWT-SVID, then this means that any new JWT-SVIDs signed by that server will not be verifiable  until the updated bundle (which is updated by the rotation event) is propagated. For X509-SVIDs this will also be the case _unless_ you are also using a

[2022-11-07 20:47] #3582 closed

[2022-11-08 00:05] swamibluedata commented on #3503
@sudeeptoroy  Though intended for trust domain migration, trustDomainAliases can be used to address this. That is the only way i was able to get this working.

One more note: For the east-west gateway configuration, federatesWith label is not required. It will do an mtls passthrough to the workload directly

[2022-11-08 03:27] tebo-ernstberger commented on #1862
Hi,
I was following [this tutorial](https://spiffe.io/docs/latest/try/getting-started-k8s/) on a cluster where a psp with MustRunAsNonRoot was set. Since I'm running a POC I just used the following workaround in `server-statefulset.yaml`:
[code]
Posting it here in case it helps.
Cheers!

[2022-11-08 12:45] #2841 closed

[2022-11-08 14:02] sudeeptoroy commented on #3503
thanks @nrjpoddar

Hi @swamibluedata, thank you for testing my setup. Yes i had to add aliases to make it work. However aliases are used for a different use case and i am presently in conversation with Istio community to get their views.
Also thanks for the note around "federatesWith" labels, its helpful, it would mean less changes to manage. Which is great.

[2022-11-08 18:50] marcofranssen commented on #2652
When is the next Sig Spire meeting?

[2022-11-08 19:19] faisal-memon commented on #2652
This thursday at 10:30 am pacific. Are you available? https://github.com/spiffe/spiffe/blob/main/community/sig-spire/README.md

[2022-11-08 20:03] evan2645 commented on #2652
I think the best path forward here is going to be to rally around a shared set of goals. I've read through [the google doc](https://docs.google.com/document/d/197tavthpvdT0ZIElyX-07W8z7EgnMsWpwNH0WNs1p-Q/edit#), and I think it is a great start at this. Only after we agree on the shared set of goals/non-goals can we be in a position to decide which implementation is closest, and carry it forward.

[2022-11-08 22:57] elinesterov commented on #2652
Agree. Let's have a 60 min meeting next week with all people who want to participate, and we'll agree on the path forward and who can maintain the project moving forward.
How about Thursday, November 17th, 9:30-10:30 am PT?

[2022-11-09 01:24] djcrabhat commented on #2652
That sounds great, count me in. Sorry I couldn't be at contributors meeting today, but I also digested the Google doc and have a prototype helm chart that I'll cleanup and hopefully have as a starting point for discussion by that Thursday.

[2022-11-09 16:37] azdagron commented on #3253
I think allowing for multiple credential composer plugins makes the most sense. The order in which plugins are defined in the configuration is preserved in the plugin collections, at least for those that are designed to be a list (notifiers, credential composers) and not addressed by name (node attestors). That gives us something to anchor on as a natural order of operations.

[2022-11-09 18:16] faisal-memon commented on #2652
Works for me.

[2022-11-09 18:45] mrsabath commented on #2652
Should we use the same Zoom call as the standard SIG-SPIRE meetings?

[2022-11-09 20:58] #3572 closed

[2022-11-09 23:41] inajob opened #3596 "dynamic link error on CentOS7"
* **Version**: v1.5.1
* **Platform**: `Linux spire-test 5.10.124-linuxkit #1 SMP Thu Jun 30 08:19:10 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
  * https://hub.docker.com/layers/library/centos/centos7.9.2009/images/sha256-8faead07bd1d5fdd17414a1759eae004da5daa9575a846f4730f44dec0f47843

* **Subsystem**:
server

[2022-11-10 11:08] idexter opened #3597 "Confusing documentation in the last SPIRE version 1.5.x about NodeResolver"
* **Version**: 1.5.x
* **Platform**: Any
* **Subsystem**: NodeResolver

Hello. I'm new in Spire and started using it since `v1.5.0`. As I understand, since [v1.5.0](https://github.com/spiffe/spire/releases/tag/v1.5.0), `NodeResolver` plugin was deprecated.
At the same time it still exists in actual version of documentation hosted on: https://spiffe.io/

I have found it at least it these sections:

[2022-11-10 15:51] MarcosDY commented on #3597
as you mention it is no possible to add custom selectors from v1.5.0,
do you have a use case for that?

About spiffe.io, we'll need to update that documentation, thanks for your summary!!!

[2022-11-10 16:29] PhilCorney opened #3598 "AuthPolicy - configuration changes require restart"
SPIRE [AuthPolicy](https://github.com/spiffe/spire/blob/1e400b13d58f2fddad6efd9373d9d18ae5655869/doc/authorization_policy_engine.md) OPA policy changes (AuthPolicy) require a server restart before taking effect, which could be problematic for production rollout.

Is there a recomended way to appying rego changes?

* **Version**: 1.4.3
* **Platform**: arm64 [single server]
* **Subsystem**: AuthPoli

[2022-11-10 19:02] dennisgove commented on #2752
[I'm very sorry for the brain-dump that this comment has turned into]

**tl;dr**: The ability for SPIRE to pre-fetch X509-SVIDs is a fantastic feature and allows for significant scaling of agents and workloads while still providing fast and reliable X509-SVID acquisitions. I think SPIRE would benefit from supporting pre-fetching for all current and future SVID types.

I've been exploring this path

[2022-11-10 19:30] idexter commented on #3597
Thanks for the explanation. 🙏  Right now I'm not sure, but most likely it appears in my case the near future. If it happens I will come back and share it.

[2022-11-10 20:29] #3194 closed

[2022-11-10 20:34] MarcosDY commented on #3598
It would be helpful if you could provide some more details around your use case and why the dynamic reloading is needed in your case.

[2022-11-10 21:08] azdagron commented on #1984
Thanks for raising your hand, both of you, for taking a look at this. I've gone ahead and made the assignments as well as updating the labeling on the issue.

We suspect that switching to goreleaser might not be without its challenges and are not quite sure what the scope will be to get everything working with feature parity and compatibility with the way we currently create/publish artifacts. We

[2022-11-10 21:14] azdagron commented on #3596
Hi @inajob, thanks for opening this. Building SPIRE is certainly complicated due to its dependence on a C standard library implementation. There is a tradeoff to be made here in terms of developer convenience v.s. installation convenience. Forcing the official build to statically link the C standard library has implications; namely that GLIBC does _not_ like to be statically linked, so in order to

[2022-11-11 09:26] PhilCorney commented on #3598
We're still exploring, but the percieved use case would be that of [example 1](https://github.com/spiffe/spire/blob/1e400b13d58f2fddad6efd9373d9d18ae5655869/doc/authorization_policy_engine.md#example-1b-sub-department-namespacing-with-exclusions) where we would want to be able to change departments being authorised without loosing service. _Perhaps this should be rolled out by CICD with HA confIgu

[2022-11-11 23:25] hellerda commented on #3261
Based on recent testing and discussions on Slack, I think these are the available options for deploying Agents in ECS.  The scenario is an Agent running as a sidecar to the ECS workload, i.e. running in another container in the same ECS Task.

Node-level attestation:

- x509pop - Simple, already-available solution.  Requires some support on top to distribute x509 certs before agent can attest.  Bu

[2022-11-12 14:16] marcofranssen commented on #2652
Not sure if I can make it this Thursday. That means for me 18:30 PM CET.

[2022-11-14 17:50] dennisgove commented on #3598
Issue #3282 discussed this type of dynamic rule changes by supporting a remote OPA instance. Separating the `Policy Enforcement Point` (SPIRE) and the `Policy Decision Point` (OPA) we would be able to support dynamic access rules without requiring a SPIRE restart. OPA already supports multiple mechanisms to dynamically change its internal ruleset.

However, the issue was closed because the maintai

[2022-11-15 06:21] developer-guy commented on #1984
Should we still export images on a disk as tarballs? Because since we use docker buildx, the docker exporter does not support exporting manifests lists yet. So, my suggestion would be to push those images into ghcr.io otherwise we need to find a workaround for multi-arch images to save them on a disk. Does that make sense? @azdagron @marcofranssen

[2022-11-15 06:53] developer-guy commented on #1984
IIUC, the reason behind outputting images to a disk is that we want to test them first; then, if those images pass the test, we could publish them to a registry. But the `docker archive` format is not suitable for doing this, and we should use OCI image layout format, which supports saving multi-arch images on a disk but requires a lot of extra work. It will make the release workflow more complex

[2022-11-15 17:10] PhilCorney commented on #3598
Thank you Dennis.
I liked the proposal there maybe performance/security implications for going down this route.
Are there plans to move this out of Experimental?

[2022-11-15 18:37] idexter opened #3613 "Documentation does not answer some specific questions about SPIRE server scaling."
* **Version**: `any`
* **Platform**: `any`
* **Subsystem**: `server`

## Horizontal scale schema

Lets imagine we want to scale SPIRE server horizontally within single trust domain, so we have 2 instances on different nodes which uses single [DataStore](https://github.com/spiffe/spire/blob/v1.5.1/doc/plugin_server_datastore_sql.md):

[code]

## About `data_dir ` parameter

As we know from [SPIRE S

[2022-11-15 18:59] evan2645 commented on #3613
Hi @idexter - the only thing that needs to be shared between SPIRE Servers is the database. Any files that a server drops to disk (i.e. journal and disk-based key manager, etc) should _not_ be shared and each server instance is expected to generate and maintain its own copy

Hopefully this answers your question. We'd be happy to take a PR to the docs to clarify this point if you'd like to send one

[2022-11-15 18:59] #3613 closed

[2022-11-15 19:17] idexter commented on #3613
Thanks, @evan2645 I'll try to make a PR to the docs to clarify this as soon as I understand where it's better to place such explanation. 🙏

Thanks a lot. I know about Slack. Unfortunatelly, I'm from Russia which has been banned by Slack by political reasons, so I can't use it and therefore I need to find alternative ways for asking questions. 😢

[2022-11-15 19:44] evan2645 opened #3614 "Provide a migration guide between common configurations to the equivalent in the spire-controller-manager"

[2022-11-15 19:44] evan2645 commented on #3614
@faisal-memon

[2022-11-15 19:45] faisal-memon commented on #3614
assign to me

[2022-11-15 19:50] zmt commented on #3527
I think I can get to this by EOY 2022.

[2022-11-15 19:57] evan2645 commented on #3341
Seems like the outstanding conversation(s) here are around DN inheritance, as noted in the edited message in #3367, and not DN uniqueness or RFC compliance. Since the DN construction issue is more or less solved, we can go ahead and close this issue out. If folks would like to continue discussion on DN inheritance, we can open a new issue.

[2022-11-15 19:57] #3341 closed

[2022-11-15 20:32] evan2645 commented on #3597
Hi @idexter!

You should be able to embed the upstream node attestor into a custom one (i.e. wrap it), to inject custom selectors without having to fully fork the attestor. I opened this related issue: https://github.com/spiffe/spire-plugin-sdk/issues/34

We should definitely remove the stale documentation. I'm going to move this issue to the spiffe.io repo

[2022-11-16 03:35] faisal-memon commented on #2652
@marcofranssen Whats your available hours/days to meet?

[2022-11-16 06:12] inajob commented on #3596
Thanks for your advice @azdagron
I choose first option.

[2022-11-16 13:16] marcofranssen commented on #2652
Reached out to you on Spire slack.

[2022-11-16 20:40] zmt commented on #1847
I think keep attempting (with backoff) would be the better default as it would provide more graceful recovery after a prolonged network partition from the SPIRE server. However, if the attestations are reaching the server and being rejected, perhaps it should give up after some number of retries. Could we detect network partition and continue retrying until unless some (configurable?) count of att

[2022-11-17 21:10] dfeldman commented on #2652
Created a #helm-charts channel on Slack so we can communicate about this a little more easily. If you need slack access you can register at slack.spiffe.io.

[2022-11-17 23:47] evan2645 opened #3620 "Re-evaluate SPIRE Server API authorization"
Many previous issues and PRs have taken attempts at solving a plethora of authorization pains that the SPIRE Server APIs currently face. These APIs tend to have a number of consumers, and the current authorization framework effectively provides an all-or-nothing authorization posture. This is particularly problematic for registrars which should have control over only a portion of the SPIFFE namesp

[2022-11-17 23:56] evan2645 commented on #3598
Hey folks .. very sorry for the confusion around the state of support for OPA Rego ... I know that the signals have been a bit confusing.

We had a lengthy conversation around this issue, and all the surrounding ones, in our public contributor call this past Tuesday. IMO the configuration of a "remote" OPA (even if local) is table stakes for Rego support, however the original request was hampered

[2022-11-18 14:49] dennisgove commented on #3598
Thank you @evan2645. I agree with this move and am glad that we're going to take the opportunity to re-think SPIRE authorization.

[2022-11-19 11:39] PhilCorney commented on #3598
Thank you for the update and sharing the rational.
That makes sense.
Phil

[2022-11-19 11:39] #3598 closed

[2022-11-22 02:33] rturner3 opened #3629 "OIDC Discovery Provider health check endpoint unavailable outside container when using virtual network"
The OIDC Discovery Provider exposes its liveness and readiness HTTP APIs over only the local interface by specifying the listen address as `:<port>`. Because of this, when the OIDC Discovery Provider is running in a container that is not bound to the host network, it will only listen over `127.0.0.1:<port>` inside the container.

In Kubernetes, for example, this results in the health endpoint bein

[2022-11-22 02:36] rturner3 commented on #3545
I tried to use the OIDC Discovery Provider HTTP health check endpoints in Kubernetes examples, but I found that it doesn't work when not using the host network. See #3629.

I am inclined to just remove the OIDC Discovery Provider readiness probes for now since the fix requires code changes in OIDC Discovery Provider.

[2022-11-22 07:39] rturner3 commented on #3545
Removing `ps`-based readiness probes in https://github.com/spiffe/spire-tutorials/pull/97

[2022-11-22 07:49] rturner3 commented on #3545
Replacing references in spiffe/spire-examples: https://github.com/spiffe/spire-examples/pull/53
Replacing references in spiffe/spire-tutorials: https://github.com/spiffe/spire-tutorials/pull/98

[2022-11-23 01:05] #3543 closed

[2022-11-23 17:05] guilhermocc commented on #3514
Hi there, i would love to contribute to resolving this issue, could it be assigned to me please @azdagron?

[2022-11-23 17:37] azdagron commented on #3514
Sure thing! Thanks, @guilhermocc !

[2022-11-23 19:46] elinesterov commented on #2652
Hey folks, the meeting is scheduled for Wednesday, November 30th. Here is a link https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MGYxNDBzNmg5M3AxZDlkOWE4bGkzdXYybmggZWxpLm5lc3Rlcm92QG0&tmsrc=eli.nesterov%40gmail.com I don't have email for @djcrabhat

[2022-11-23 20:41] rturner3 commented on #3545
Replacing references in spiffe/tornjak: https://github.com/spiffe/tornjak/pull/97

[2022-11-23 20:47] marcofranssen commented on #3545
The fix for this is already on main #3580

[2022-11-23 22:21] rturner3 commented on #3545
Oh excellent, I missed that. Makes a lot of sense now looking at the PR why it is broken with the latest released version.

[2022-11-23 22:21] rturner3 commented on #3629
Fixed by #3580.

[2022-11-23 22:22] #3629 closed

[2022-11-24 05:14] hiyosi opened #3637 "SEGV error if runnning a binary statically linking glibc"
* **Version**: 1.5.1
* **Platform**: Ubuntu 20.04 `Linux 753a6d382ec1 5.15.49-linuxkit`
* **Subsystem**: agent

If I run a binary built(`make build-static`) statically linking glibc, I get a SEGV error on cgo call.

https://github.com/golang/go/issues/13470 (https://sourceware.org/bugzilla/show_bug.cgi?id=19341)
The above issue could be a factor.

Comments at https://github.com/spiffe/spire/issues

[2022-11-24 14:09] guilhermocc commented on #3400
Hi @amartinezfayo, I would love to contribute to this issue, could it be assigned to me, please? 😄

[2022-11-24 14:21] amartinezfayo commented on #3400
Sure, that would be great, Thank you @guilhermocc!

[2022-11-24 16:04] azdagron commented on #3637
Hi @hiyosi! Unfortunately there are many problems statically linking glibc, and it is a generally discouraged practice.
I don't think we intend to support statically linking to glibc. The `build-static` target was introduced for building binaries that statically link to musl for our scratch images.

The diagnostics here could be better however. We should probably figure out how to prevent the buil

[2022-11-24 23:11] hiyosi commented on #3637
Thank you for a reply!

I don't think we intend to support statically linking to glibc.

I understand the above.  I think if the policy is clear, there is no problem.

I think this is a good thing for us to prevent errors.

[2022-11-29 19:41] rturner3 commented on #3458
This will affect our ability to deprecate the alpine-based images that we currently push to GCR because we don't publish the k8s-workload-registrar scratch image to GHCR (related to https://github.com/spiffe/spire/issues/3545)

[2022-11-29 20:30] amartinezfayo commented on #3637
Hey @hiyosi thank you for bringing this up. Would be awesome if you can open a PR adding a comment in the Makefile to address this. Thank you!

[2022-11-29 20:31] #3637 closed

[2022-11-30 01:48] rturner3 commented on #3545
There is one noteworthy caveat I've discovered so far with the scratch images - it is not straightforward to run the container as a non-root user. By default in a scratch image the root directory of the filesystem `/` is owned by root and is not writeable by any other user. This presents problems with SPIRE because there are several directories on disk that spire-server and spire-agent will attemp

[2022-11-30 14:48] bbeuning opened #3647 "Feature request: On Windows have agent check work load process is code signed"
Windows supports code signing executable files.
If the agent verifies a work load process is code signed
that is strong evidence the process can be trusted.

[2022-11-30 15:32] StupidScience opened #3648 "Feature request: support pem format in federates_with configuration"
Hello.

As far as I can see there is possibility to use PEM format in federation create command. Would be nice if it will be possible to support it in configuration file for `https_web` profile.
Smth like
[code]

Actually I didn't follow if `trustDomainBundleFormat` flag available in command for any case but when `trustDomainBundlePath` is defined.
Anyway not sure why `https_web` and `https_spiffe